<!DOCTYPE html>
<html>
<head>
  <!-- normalize css -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <!-- Meta tags that set up the page as a mobile page   -->
    <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="/m/images/iphone.png" />
    <meta name="format-detection" content="telephone=no" />
    <!--  A free Google web font embed because android does not have the browser safe fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Allerta">
    
	<title>VeBells</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

	<!-- navbar -->
	<div class="ui fixed inverted menu">
	<div class="ui container">

	  <div class="item sidemenu">
	    <i class="sidebar icon"></i>
	  </div>

		<div class="header item">
	  	VeBells 
		</div>
	</div>
	</div>

	<div class="ui left demo vertical inverted sidebar labeled icon menu">
	  <a class="item" href="/">
	    <i class="home icon"></i>
	    Home
	  </a>
	  <a href="/towers/new" class="item">
	    <i class="add layout icon"></i>
	    New Tower
	  </a>
	</div>

	<% include loginModal %>