<!-- The Modal -->
<div class="ui small modal">
	<i class="close icon"></i>
	<div class="header">
		Login
	</div>
	<div class="content">
		<form class="ui form">
			<div class="field">
				<label>User Name</label>
				<input id="username" type="text" placeholder="username">
			</div>
			<div class="field">
				<label>Password</label>
				<input id="password" type="password" placeholder="mypassword">
			</div>
		</form>
	</div>
	<div class="actions">
		<div id="loginButton" class="ui positive button">
			Login
		</div>
	</div>
</div>