<!-- The Modal -->
<div class="ui small modal">
	<i class="close icon"></i>

	<table class="ui celled sortable basic table segment">
	  <tbody>
	    <tr>
	      <td class="four wide"><b>{name}</b></td>
	      <td>The current text of a field's label, or if no label available its placeholder text</td>
	    </tr>
	    <tr>
	      <td class="four wide"><b>{identifier}</b></td>
	      <td>The identifier used to match the field</td>
	    </tr>
	    <tr>
	      <td class="four wide"><b>{value}</b></td>
	      <td>The current field value</td>
	    </tr>
	    <tr>
	      <td class="four wide"><b>{ruleValue}</b></td>
	      <td>The value passed to a rule, for example <code>minLength[100]</code> would set this value to 100</td>
	    </tr>
	  </tbody>
	</table>
	<form class="ui form segment error">
	  <div class="two fields">
	    <div class="field error">
	      <label>Field 1</label>
	      <input type="text" name="field1">
	    </div>
	    <div class="field error">
	      <label>Field 2</label>
	      <input type="text" name="field2">
	    </div>
	  </div>
	  <div class="ui primary submit button">Submit</div>
	  <div class="ui error message"><ul class="list"><li>Field 1 must have a value</li><li>Field 2 is set to "" that is totally wrong. It should be dog</li></ul></div>
	</form>


	
<!-- 	<div class="header">
		Login
	</div>
	<div class="content">
		<form id="loginForm" class="ui form">
			<div class="field">
				<label>Email</label>
				<input id="email" type="text" placeholder="john@example.com">
			</div>
			<div class="field">
				<label>Password</label>
				<input id="password" type="password" placeholder="password123">
			</div>
		</form>
	</div>
	<div class="actions">
		<div id="loginButton" class="ui positive button">
			Login
		</div>
	</div> -->
</div>

