<!-- Trigger/Open The Modal -->
<br>
<br>
<br>
<br>
<br>
<br>
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
	<div class="modal-content">
		<span class="close">x</span>
		<h2>Login</h2>
		<form class="ui tiny form">
			<div class="field">
				<label>User Name</label>
				<input id="username" type="text" placeholder="username">
			</div>
			<div class="field">
				<label>Password</label>
				<input id="password" type="password" placeholder="mypassword">
			</div>
			<button class="ui button" type="submit">Submit</button>
		</form>
	</div>
</div>