
<table class="ui celled fluid table">
	<thead>
			<tr>
				<th>General Data Field</th>
				<th>Data</th>
			</tr>
	</thead>
	<tbody>
		<% inorder(tower.val().data); %>
	</tbody>
</table>

<% function inorder(node) { %>
	<% if (node == null) { %>
		<% return; %>
	<% } %>

	<% for (var key in node) { %>
		<% if (node[key] == "[object Object]") { %>
			<tr>
				<td style="background-color: #F9FAFB"><%= key %></td>
				<td style="background-color: #F9FAFB"></td>
			</tr>
			<% inorder(node[key]); %>
		<% } else { %>
			<tr>
				<td><%= key %></td>
				<td><%= node[key] %></td>
			</tr>
		<% } %>
	<% } %>
<% } %>

