<div class="ui fluid accordion">
<!-- * * * * * * * * * * * * * * * * *  -->
	<div class=" active title">
		<i class="dropdown icon"></i>
		Name
	</div>

	<div class="active content whitePaddedContent">
		<label>name</label>
		<input type="text" ng-model="bell['Common name']"/>
	</div>

<!-- * * * * * * * * * * * * * * * * *  -->
	<div class="title">
		<i class="dropdown icon"></i>
		General Data
	</div>

	<div class="content whitePaddedContent">
		<div class="field">		
			<label>Latitude</label>
			<input type="text" ng-model="bell['Latitude']"/>	
		</div>

		<div class="field">	
			<label>Longitude</label>
			<input type="text" ng-model="bell['Longitude']"/>		
		</div>

		<div class="field">
			<label>Lightning rod</label>
			<input type="text" ng-model="bell['Lightning rod']"/>		
		</div>

		<div class="field">
			<label>Material</label>
			<input type="text" ng-model="bell['Material']"/>
		</div>
	</div>
</div>