<div class="ui fluid accordion">
<!-- * * * * * * * * * * * * * * * * *  -->
	<div class=" active title">
		<i class="dropdown icon"></i>
		x
	</div>

	<div class="active content whitePaddedContent">
		<div class="field">
			<label>x</label>
			<input type="text" placeholder="x" />
		</div>
	</div>

<!-- * * * * * * * * * * * * * * * * *  -->
	<!-- <div class="title"> -->
		<!-- <i class="dropdown icon"></i> -->
		<!-- Data 2 -->
	<!-- </div> -->
<!--  -->
	<!-- <div class="content whitePaddedContent"> -->
		<!-- <div ng-repeat="(key, value) in bc.bellTower_info"> -->
			<!-- <div ng-if="typeof(value) == 'object'"> -->
				<!-- // object -->
				<!-- <div class="field" ng-repeat="(key1, value1) in value"> -->
					<!-- <label>{{key1}}</label> -->
					<!-- <input type="text" ng-model="value[key1]"/> -->
				<!-- </div> -->
			<!-- </div> -->
<!--  -->
			<!-- <div class="field" ng-if="typeof(value) != 'object'"> -->
				<!-- // field -->
				<!-- <label>{{key}}</label> -->
				<!-- <input type="text" ng-model="bc.bellTower_info[key]"/> -->
			<!-- </div> -->
		<!-- </div> -->
	<!-- </div> -->
</div>