<div class="ui fluid accordion"  ng-repeat="(bell_id, bell) in bc.bells">
	<div class="title">
		<h3>{{bell['name']}}</h3>
	</div>
	<div class="content whitePaddedContent">
		<p>bell id: {{bell_id}}</p>
		<p>tower id: {{bells[bell_id]['tower_id']}}</p>
		<div class="ui inverted red button" ng-click="bc.removeLanding(currentTowerID, bell_id)">Remove Bell</div>
	</div>	

	<div class="title">
		<i class="dropdown icon"></i>
		Bell Name/Number
	</div>
	<div class="content whitePaddedContent">
		<div class="field">	
			<label>name</label>
			<input type="text" ng-model="bells[bell_id]['name']"/>
		</div>
		<div class="field">	
			<label>tower_id</label>
			<input type="text" ng-model="bells[bell_id]['tower_id']" disabled />
		</div>
	</div>

	<div ng-include="'/views/partials/editPartials/editSectionPartials/BellNoteAndRingingTimes.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/BellEngravingsAndInscriptions.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/BellClapperAndStock.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/BellRingingMethod.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/BellHistoricInfo.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/BellPhysicalDimension.htm'"></div>

	<script language='javascript'>
		$(document).ready(function () {
		    $('.ui.accordion').accordion();
		});
	</script>
</div>

<div class="ui inverted green button" ng-click="bc.addBell()">Add Bell</div>