<div class="ui fluid accordion">

<!-- new section -->
		<div class="title">
			<h2>Linked Media</h2>
		</div>
		<div class="content whitePaddedContent">
		</div>

<!-- new section -->
	<div ng-include="'/views/partials/editPartials/editSectionPartials/LinkedMedia_Videos.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/LinkedMedia_Models.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/LinkedMedia_Audio.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/LinkedMedia_Venipedia.htm'"></div>
</div>	