<div class="ui fluid accordion">

	<div ng-include="'/views/partials/editPartials/editSectionPartials/Exterior_General.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/Exterior_OrientationAndInclination.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/Exterior_PublicAccessibilityAndDoors.htm'"></div>
	
	<script language='javascript'>
		$(document).ready(function () {
		    $('.ui.accordion').accordion();
		});
	</script>
</div>

<div class="ui fluid accordion">
	<div ng-include="'/views/partials/editPartials/editSectionPartials/Exterior_Base.htm'"></div>
</div>

<div class="ui fluid accordion">
	<div ng-include="'/views/partials/editPartials/editSectionPartials/Exterior_Shaft.htm'"></div>
</div>

<div class="ui fluid accordion">
	<div ng-include="'/views/partials/editPartials/editSectionPartials/Exterior_Belfry.htm'"></div>
</div>

<div class="ui fluid accordion">
	<div ng-include="'/views/partials/editPartials/editSectionPartials/Exterior_Roof.htm'"></div>
</div>

