<div class="ui fluid accordion">
<!-- * * * * * * * * * * * * * * * * * * * * * *  -->
	<div class="title">
		<i class="dropdown icon"></i>
		General
	</div>
	<div class="content whitePaddedContent">

		<div class="field">	
			<label>Church name</label>
			<input type="text" ng-model="bellTower['Church name']"/>
		</div>

		<div class="field">	
			<label>Common name</label>
			<input type="text" ng-model="bellTower['Common name']"/>
		</div>

		<div class="field">	
			<label>Tower_Code</label>
			<input type="text" placeholder="TODO" disabled/>
		</div>

		<div class="field">	
			<label>Bell Tower ID</label>
			<input type="text" ng-model="bellTower['Bell Tower ID']"/>
		</div>

		<div class="field">	
			<label>Last_Visited</label>
			<input type="text" placeholder="TODO" disabled/>
		</div>

		<div class="field">	
			<label>Proprietor</label>
			<input type="text" ng-model="bellTower['Proprietor']"/>
		</div>

		<div class="field">	
			<label>Pastor Name</label>
			<input type="text" placeholder="TODO" disabled/>
		</div>

		<div class="field">	
			<label>Danger zone</label>
			<input type="text" ng-model="bellTower['Danger zone']"/>
		</div>

		<div class="field">	
			<label>Number of bells</label>
			<input type="text" ng-model="bellTower['Number of bells']"/>
		</div>

		<div class="field">	
			<label>Number of landings</label>
			<input type="text" ng-model="bellTower['Number of landings']"/>
		</div>

		<div class="field">	
			<label>Significant history</label>
			<input type="text" ng-model="bellTower['Significant history']"/>
		</div>

		<div class="field">	
			<label>Tower style</label>
			<input type="text" ng-model="bellTower['Tower style']"/>
		</div>

		<div class="field">	
			<label>Construction year</label>
			<input type="text" ng-model="bellTower['Construction year']"/>
		</div>

		<div class="field">	
			<label>Repair year</label>
			<input type="text" ng-model="bellTower['Repair year']"/>
		</div>

		<div class="field">	
			<label>Repair description</label>
			<input type="text" ng-model="bellTower['Repair description']"/>
		</div>

		<div class="field">	
			<label>Renovation and restoration years</label>
			<input type="text" ng-model="bellTower['Renovation and restoration years']"/>
		</div>

		<div class="field">	
			<label>Renovation and restoration description</label>
			<input type="text" ng-model="bellTower['Renovation and restoration description']"/>
		</div>

		<div class="field">	
			<label>Architecture</label>
			<input type="text" ng-model="bellTower['Architecture']"/>
		</div>

		<div class="field">	
			<label>Architect</label>
			<input type="text" ng-model="bellTower['Architect']"/>
		</div>
	</div>

	<div class="title">
		<i class="dropdown icon"></i>
		Location
	</div>

	<div class="content whitePaddedContent">
		<div class="field">	
			<label>Longitude</label>
			<input type="text" ng-model="bellTower['Longitude']"/>
		</div>

		<div class="field">	
			<label>Latitude</label>
			<input type="text" ng-model="bellTower['Latitude']"/>
		</div>		

		<div class="field">	
			<label>Sestiere</label>
			<input type="text" ng-model="bellTower['Sestiere']"/>
		</div>		

		<div class="field">	
			<label>Time open 1</label>
			<input type="text" ng-model="bellTower['Time open 1']"/>
		</div>		

		<div class="field">	
			<label>Time open 2</label>
			<input type="text" ng-model="bellTower['Time open 2']"/>
		</div>

		<div class="field">	
			<label>Pizza</label>
			<input type="text" ng-model="bellTower['Pizza']"/>
		</div>
	</div>
</div>