<div class="ui fluid accordion"  ng-repeat="(landing_id, landing) in bc.landings">
	<div class="title">
		<h3>{{landing['name']}}</h3>
	</div>
	<div class="content whitePaddedContent">
		<p>{{landing_id}}</p>
		<div class="ui inverted red button" ng-click="bc.removeLanding(currentTowerID, landing_id)">Remove Landing</div>
	</div>
	
	<div ng-include="'/views/partials/editPartials/editSectionPartials/LandingBasicInfo.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/LandingStairsInfo.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/LandingWallWindowThickness.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/LandingInteriorDoors.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/LandingRestoration.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/LandingTowerDefects.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/LandingDecorationAndInstription.htm'"></div>
	<div ng-include="'/views/partials/editPartials/editSectionPartials/LandingBelfryOnly.htm'"></div>

	<script language='javascript'>
		$(document).ready(function () {
		    $('.ui.accordion').accordion();
		});
	</script>
</div>

<div class="ui inverted green button" ng-click="bc.addLanding()">Add Landing</div>