<% include partials/header %>

	<script language='javascript'>
		$(document).ready(function () {
		    $('.ui.accordion').accordion();
		});
	</script>

<div id="main" class="ui container text noselect">
	<form class="ui form noselect" action="/towers/<%= tower.key %>?_method=PUT" method="POST">

		<p>belfry</p>

		<p><%= tower.numLandings %></p>

		<p>landing</p>

		<div class="field">
			<input class="ui fluid green button" type="submit"> 
		</div>
	</form>
</div>

<% include partials/footer %>