<% include partials/header %>

	<script language='javascript'>
		$(document).ready(function () {
		    $('.ui.accordion').accordion();
		});
	</script>

<div id="main" class="ui container text noselect">

	<h1 class="pageTitle"><span id="dataCategorySpan">General</span> Info</h1>
	<% include partials/editPartials/editButtons %>

	<form class="ui form noselect" action="/towers/<%= tower.key %>?_method=PUT" method="POST">
		<div class="ui fluid accordion">
		<% include partials/editPartials/editGeneral %>
		<% include partials/editPartials/editExterior %>
		<% include partials/editPartials/editInterior %>
		<% include partials/editPartials/editBells %>
		</div>

		<div class="field">
			<input class="ui fluid green button" type="submit"> 
		</div>
	</form>
</div>

<script type="text/javascript" src="/scripts/edit.js"></script>
<% include partials/footer %>