<% include partials/header %>

	<script language='javascript'>
		$(document).ready(function () {
		    $('.ui.accordion').accordion();
		});
	</script>

<div id="main" class="ui container text noselect">
	<form class="ui form noselect" action="/towers" method="POST">
		<div class="ui fluid accordion">
<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="active title">
			<i class="dropdown icon"></i>
			Birth_Certificate
		</div>

		<div class="content">

			<div class="field">
				<label>birthID</label>
				<input type="text" name="bellTower[birthID]" placeholder="birthID" >
			</div>



			<div class="field">
				<label>Bell_Tower_ID</label>
				<input type="text" name="bellTower[Bell_Tower_ID]" placeholder="Bell_Tower_ID" >
			</div>


			<div class="field">
				<label>Church_name</label>
				<input type="text" name="bellTower[Church_name]" placeholder="Church_name" >
			</div>


			<div class="field">
				<label>Common_name</label>
				<input type="text" name="bellTower[Common_name]" placeholder="Common_name" >
			</div>


			<div class="field">
				<label>Sestiere</label>
				<input type="text" name="bellTower[Sestiere]" placeholder="Sestiere" >
			</div>


			<div class="field">
				<label>Construction_year</label>
				<input type="text" name="bellTower[Construction_year]" placeholder="Construction_year" >
			</div>


			<div class="field">
				<label>Cross</label>
				<input type="text" name="bellTower[Cross]" placeholder="Cross" >
			</div>


			<div class="field">
				<label>Weathervane</label>
				<input type="text" name="bellTower[Weathervane]" placeholder="Weathervane" >
			</div>


			<div class="field">
				<label>Lightning_rod</label>
				<input type="text" name="bellTower[Lightning_rod]" placeholder="Lightning_rod" >
			</div>


			<div class="field">
				<label>ckID</label>
				<input type="text" name="bellTower[ckID]" placeholder="ckID" >
			</div>


			<div class="field">
				<label>dob</label>
				<input type="text" name="bellTower[dob]" placeholder="dob" >
			</div>


			<div class="field">
				<label>Dor</label>
				<input type="text" name="bellTower[Dor]" placeholder="Dor" >
			</div>


			<div class="field">
				<label>lat</label>
				<input type="text" name="bellTower[lat]" placeholder="lat" >
			</div>


			<div class="field">
				<label>lon</label>
				<input type="text" name="bellTower[lon]" placeholder="lon" >
			</div>


			<div class="field">
				<label>parentID</label>
				<input type="text" name="bellTower[parentID]" placeholder="parentID" >
			</div>


			<div class="field">
				<label>recorder</label>
				<input type="text" name="bellTower[recorder]" placeholder="recorder" >
			</div>


			<div class="field">
				<label>type</label>
				<input type="text" name="bellTower[type]" placeholder="type" >
			</div>


			<div class="field">
				<label>Tower_height_m</label>
				<input type="text" name="bellTower[Tower_height_m]" placeholder="Tower_height_m" >
			</div>


			<div class="field">
				<label>Tower_style</label>
				<input type="text" name="bellTower[Tower_style]" placeholder="Tower_style" >
			</div>


			<div class="field">
				<label>Significant_history",</label>
				<input type="text" name="bellTower[Significant_history]" placeholder="Significant_history"," >
			</div>

			<div class="field">
				<label>Renovation_and_restoration_description",</label>
				<input type="text" name="bellTower[Renovation_and_restoration_description]" placeholder="Renovation_and_restoration_description"," >
			</div>

			<div class="field">
				<label>Renovation_and_restoration_years</label>
				<input type="text" name="bellTower[Renovation_and_restoration_years]" placeholder="Renovation_and_restoration_years" >
			</div>


			<div class="field">
				<label>Repair_description</label>
				<input type="text" name="bellTower[Repair_description]" placeholder="Repair_description" >
			</div>


			<div class="field">
				<label>Repair_year</label>
				<input type="text" name="bellTower[Repair_year]" placeholder="Repair_year" >
			</div>


			<div class="field">
				<label>Restoration_sides</label>
				<input type="text" name="bellTower[Restoration_sides]" placeholder="Restoration_sides" >
			</div>
		</div>

			<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			Tower_Exterior
		</div>

		<div class="content">
				<p>pizza hut</p>
		</div>

			<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			data_Back
		</div>

		<div class="content">

			<div class="field">
				<label>Window_side_Back</label>
				<input type="text" name="bellTower[Window_side_Back]" placeholder="Window_side_Back" >
			</div>	


			<div class="field">
				<label>Window_total_number</label>
				<input type="text" name="bellTower[Window_total_number]" placeholder="Window_total_number" >
			</div>


			<div class="field">
				<label>Number_of_art_pieces_Back</label>
				<input type="text" name="bellTower[Number_of_art_pieces_Back]" placeholder="Number_of_art_pieces_Back" >
			</div>


			<div class="field">
				<label>Number_of_ties_and_bands_Back</label>
				<input type="text" name="bellTower[Number_of_ties_and_bands_Back]" placeholder="Number_of_ties_and_bands_Back" >
			</div>


			<div class="field">
				<label>Accessibility_Back</label>
				<input type="text" name="bellTower[Accessibility_Back]" placeholder="Accessibility_Back" >
			</div>


			<div class="field">
				<label>Arches_Back</label>
				<input type="text" name="bellTower[Arches_Back]" placeholder="Arches_Back" >
			</div>


			<div class="field">
				<label>Exterior_door_Back</label>
				<input type="text" name="bellTower[Exterior_door_Back]" placeholder="Exterior_door_Back" >
			</div>


			<div class="field">
				<label>Exterior_tower_notes__Back</label>
				<input type="text" name="bellTower[Exterior_tower_notes__Back]" placeholder="Exterior_tower_notes__Back" >
			</div>


			<div class="field">
				<label>Window_Restoration_visible_Back</label>
				<input type="text" name="bellTower[Window_Restoration_visible_Back]" placeholder="Window_Restoration_visible_Back" >
			</div>









		</div>

		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			data_Front
		</div>

		<div class="content">

			<div class="field">
				<label>Window_side_Front</label>
				<input type="text" name="bellTower[Window_side_Front]" placeholder="Window_side_Front" >
			</div>	


			<div class="field">
				<label>Number_of_art_pieces_Front</label>
				<input type="text" name="bellTower[Number_of_art_pieces_Front]" placeholder="Number_of_art_pieces_Front" >
			</div>


			<div class="field">
				<label>Number_of_ties_and_bands_Front</label>
				<input type="text" name="bellTower[Number_of_ties_and_bands_Front]" placeholder="Number_of_ties_and_bands_Front" >
			</div>


			<div class="field">
				<label>Accessibility_Front</label>
				<input type="text" name="bellTower[Accessibility_Front]" placeholder="Accessibility_Front" >
			</div>


			<div class="field">
				<label>Arches_Front</label>
				<input type="text" name="bellTower[Arches_Front]" placeholder="Arches_Front" >
			</div>


			<div class="field">
				<label>Exterior_door_Front</label>
				<input type="text" name="bellTower[Exterior_door_Front]" placeholder="Exterior_door_Front" >
			</div>


			<div class="field">
				<label>Exterior_tower_notes_Front</label>
				<input type="text" name="bellTower[Exterior_tower_notes_Front]" placeholder="Exterior_tower_notes_Front" >
			</div>


			<div class="field">
				<label>Restoration_visible_Front</label>
				<input type="text" name="bellTower[Restoration_visible_Front]" placeholder="Restoration_visible_Front" >
			</div>

		</div>





		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			data_Left
		</div>

		<div class="content">

			<div class="field">
				<label>Window_side_Left</label>
				<input type="text" name="bellTower[Window_side_Left]" placeholder="Window_side_Left" >
			</div>	


			<div class="field">
				<label>Number_of_art_pieces_Left</label>
				<input type="text" name="bellTower[Number_of_art_pieces_Left]" placeholder="Number_of_art_pieces_Left" >
			</div>


			<div class="field">
				<label>Number_of_ties_and_bands_Left</label>
				<input type="text" name="bellTower[Number_of_ties_and_bands_Left]" placeholder="Number_of_ties_and_bands_Left" >
			</div>


			<div class="field">
				<label>Accessibility_Left</label>
				<input type="text" name="bellTower[Accessibility_Left]" placeholder="Accessibility_Left" >
			</div>


			<div class="field">
				<label>Arches_Left</label>
				<input type="text" name="bellTower[Arches_Left]" placeholder="Arches_Left" >
			</div>


			<div class="field">
				<label>Exterior_door_Left</label>
				<input type="text" name="bellTower[Exterior_door_Left]" placeholder="Exterior_door_Left" >
			</div>


			<div class="field">
				<label>Exterior_tower_notes_Left</label>
				<input type="text" name="bellTower[Exterior_tower_notes_Left]" placeholder="Exterior_tower_notes_Left" >
			</div>


			<div class="field">
				<label>Restoration_visible_Left</label>
				<input type="text" name="bellTower[Restoration_visible_Left]" placeholder="Restoration_visible_Left" >
			</div>




		</div>
		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			data_Right
		</div>

		<div class="content">

			<div class="field">
				<label>Window_side_Right</label>
				<input type="text" name="bellTower[Window_side_Right]" placeholder="Window_side_Right" >
			</div>	


			<div class="field">
				<label>Number_of_art_pieces_Right</label>
				<input type="text" name="bellTower[Number_of_art_pieces_Right]" placeholder="Number_of_art_pieces_Right" >
			</div>


			<div class="field">
				<label>Number_of_ties_and_bands_Right</label>
				<input type="text" name="bellTower[Number_of_ties_and_bands_Right]" placeholder="Number_of_ties_and_bands_Right" >
			</div>


			<div class="field">
				<label>Accessibility_Right</label>
				<input type="text" name="bellTower[Accessibility_Right]" placeholder="Accessibility_Right" >
			</div>


			<div class="field">
				<label>Arches_Right</label>
				<input type="text" name="bellTower[Arches_Right]" placeholder="Arches_Right" >
			</div>


			<div class="field">
				<label>Exterior_door_Right</label>
				<input type="text" name="bellTower[Exterior_door_Right]" placeholder="Exterior_door_Right" >
			</div>


			<div class="field">
				<label>Exterior_tower_notes_Right</label>
				<input type="text" name="bellTower[Exterior_tower_notes_Right]" placeholder="Exterior_tower_notes_Right" >
			</div>


			<div class="field">
				<label>Restoration_visible_Right</label>
				<input type="text" name="bellTower[Restoration_visible_Right]" placeholder="Restoration_visible_Right" >
			</div>
	</div>





		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			data_General
		</div>

		<div class="content">

			<div class="field">
				<label>Number_of_decorations</label>
				<input type="text" name="bellTower[Number_of_decorations]" placeholder="Number_of_decorations" >
			</div>	


			<div class="field">
				<label>Number_of_exterior_Inscriptions</label>
				<input type="text" name="bellTower[Number_of_exterior_Inscriptions]" placeholder="Number_of_exterior_Inscriptions" >
			</div>


			<div class="field">
				<label>Finial</label>
				<input type="text" name="bellTower[Finial]" placeholder="Finial" >
			</div>


			<div class="field">
				<label>Finial_description</label>
				<input type="text" name="bellTower[Finial_description]" placeholder="Finial_description" >
			</div>


			<div class="field">
				<label>Finial_type</label>
				<input type="text" name="bellTower[Finial_type]" placeholder="Finial_type" >
			</div>


			<div class="field">
				<label>Spire_Description</label>
				<input type="text" name="bellTower[Spire_Description]" placeholder="Spire_Description" >
			</div>


			<div class="field">
				<label>Exterior_door_height_cm</label>
				<input type="text" name="bellTower[Exterior_door_height_cm]" placeholder="Exterior_door_height_cm" >
			</div>


			<div class="field">
				<label>Exterior_door_width_cm</label>
				<input type="text" name="bellTower[Exterior_door_width_cm]" placeholder="Exterior_door_width_cm" >
			</div>


			<div class="field">
				<label>Exterior_block_depth_cm</label>
				<input type="text" name="bellTower[Exterior_block_depth_cm]" placeholder="Exterior_block_depth_cm" >
			</div>


			<div class="field">
				<label>Exterior_block_height_cm</label>
				<input type="text" name="bellTower[Exterior_block_height_cm]" placeholder="Exterior_block_height_cm" >
			</div>


			<div class="field">
				<label>Exterior_block_width_cm</label>
				<input type="text" name="bellTower[Exterior_block_width_cm]" placeholder="Exterior_block_width_cm" >
			</div>


			<div class="field">
				<label>Wall_thickness</label>
				<input type="text" name="bellTower[Wall_thickness]" placeholder="Wall_thickness" >
			</div>


			<div class="field">
				<label>Plumb_bob_distance</label>
				<input type="text" name="bellTower[Plumb_bob_distance]" placeholder="Plumb_bob_distance" >
			</div>


			<div class="field">
				<label>Plumb_line_length</label>
				<input type="text" name="bellTower[Plumb_line_length]" placeholder="Plumb_line_length" >
			</div>


			<div class="field">
				<label>Architect</label>
				<input type="text" name="bellTower[Architect]" placeholder="Architect" >
			</div>

			<div class="field">
				<label>Architecture</label>
				<input type="text" name="bellTower[Architecture]" placeholder="Architecture" >
			</div>

		</div>







		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			Tower_Interior
		</div>

		<div class="content">

			<div class="field">
				<label>Attic</label>
				<input type="text" name="bellTower[Attic]" placeholder="Attic" >
			</div>	


			<div class="field">
				<label>Balustrade</label>
				<input type="text" name="bellTower[Balustrade]" placeholder="Balustrade" >
			</div>

		</div>





		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			data_Back
		</div>

		<div class="content">

			<div class="field">
				<label>Barred_window_number_Back</label>
				<input type="text" name="bellTower[Barred_window_number_Back]" placeholder="Barred_window_number_Back" >
			</div>	


			<div class="field">
				<label>Blocked_window_number_Back</label>
				<input type="text" name="bellTower[Blocked_window_number_Back]" placeholder="Blocked_window_number_Back" >
			</div>


			<div class="field">
				<label>Interior_door_Back</label>
				<input type="text" name="bellTower[Interior_door_Back]" placeholder="Interior_door_Back" >
			</div>


			<div class="field">
				<label>Meshed_window_number_Back</label>
				<input type="text" name="bellTower[Meshed_window_number_Back]" placeholder="Meshed_window_number_Back" >
			</div>


			<div class="field">
				<label>Restoration_visible_Back</label>
				<input type="text" name="bellTower[Restoration_visible_Back]" placeholder="Restoration_visible_Back" >
			</div>
		</div>






		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			data_Front
		</div>

		<div class="content">

			<div class="field">
				<label>Barred_window_number_Front</label>
				<input type="text" name="bellTower[Barred_window_number_Front]" placeholder="Barred_window_number_Front" >
			</div>	


			<div class="field">
				<label>Blocked_window_number_Front</label>
				<input type="text" name="bellTower[Blocked_window_number_Front]" placeholder="Blocked_window_number_Front" >
			</div>


			<div class="field">
				<label>Interior_door_Front</label>
				<input type="text" name="bellTower[Interior_door_Front]" placeholder="Interior_door_Front" >
			</div>


			<div class="field">
				<label>Meshed_window_number_Front</label>
				<input type="text" name="bellTower[Meshed_window_number_Front]" placeholder="Meshed_window_number_Front" >
			</div>


			<div class="field">
				<label>df_Restoration_visible_Front</label>
				<input type="text" name="bellTower[df_Restoration_visible_Front]" placeholder="df_Restoration_visible_Front" >
			</div>

		</div>





		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			data_Left
		</div>


		<div class="content">

			<div class="field">
				<label>Barred_window_number_Left</label>
				<input type="text" name="bellTower[Barred_window_number_Left]" placeholder="Barred_window_number_Left" >
			</div>	


			<div class="field">
				<label>Blocked_window_number_Left</label>
				<input type="text" name="bellTower[Blocked_window_number_Left]" placeholder="Blocked_window_number_Left" >
			</div>


			<div class="field">
				<label>Meshed_window_number_Left</label>
				<input type="text" name="bellTower[Meshed_window_number_Left]" placeholder="Meshed_window_number_Left" >
			</div>


			<div class="field">
				<label>Interior_door_Left</label>
				<input type="text" name="bellTower[Interior_door_Left]" placeholder="Interior_door_Left" >
			</div>


			<div class="field">
				<label>dl_Restoration_visible_Left</label>
				<input type="text" name="bellTower[dl_Restoration_visible_Left]" placeholder="dl_Restoration_visible_Left" >
			</div>

		</div>





		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			data_Right
		</div>

		<div class="content">

			<div class="field">
				<label>Barred_window_number_Right</label>
				<input type="text" name="bellTower[Barred_window_number_Right]" placeholder="Barred_window_number_Right" >
			</div>	


			<div class="field">
				<label>Blocked_window_number_Right</label>
				<input type="text" name="bellTower[Blocked_window_number_Right]" placeholder="Blocked_window_number_Right" >
			</div>


			<div class="field">
				<label>Interior_door_Right</label>
				<input type="text" name="bellTower[Interior_door_Right]" placeholder="Interior_door_Right" >
			</div>


			<div class="field">
				<label>Meshed_window_number_Right</label>
				<input type="text" name="bellTower[Meshed_window_number_Right]" placeholder="Meshed_window_number_Right" >
			</div>


			<div class="field">
				<label>dr_Restoration_visible_Right</label>
				<input type="text" name="bellTower[dr_Restoration_visible_Right]" placeholder="dr_Restoration_visible_Right" >
			</div>
		</div>







		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			data_General
		</div>

		<div class="content">

			<div class="field">
				<label>Interior_door_depth_cm</label>
				<input type="text" name="bellTower[Interior_door_depth_cm]" placeholder="Interior_door_depth_cm" >
			</div>	


			<div class="field">
				<label>Interior_door_height_cm</label>
				<input type="text" name="bellTower[Interior_door_height_cm]" placeholder="Interior_door_height_cm" >
			</div>


			<div class="field">
				<label>Interior_door_notes</label>
				<input type="text" name="bellTower[Interior_door_notes]" placeholder="Interior_door_notes" >
			</div>


			<div class="field">
				<label>Interior_door_width_cm</label>
				<input type="text" name="bellTower[Interior_door_width_cm]" placeholder="Interior_door_width_cm" >
			</div>


			<div class="field">
				<label>Internal_decoration_description</label>
				<input type="text" name="bellTower[Internal_decoration_description]" placeholder="Internal_decoration_description" >
			</div>


			<div class="field">
				<label>Internal_decoration_locations</label>
				<input type="text" name="bellTower[Internal_decoration_locations]" placeholder="Internal_decoration_locations" >
			</div>


			<div class="field">
				<label>Internal_landing_material</label>
				<input type="text" name="bellTower[Internal_landing_material]" placeholder="Internal_landing_material" >
			</div>


			<div class="field">
				<label>Internal_transcription</label>
				<input type="text" name="bellTower[Internal_transcription]" placeholder="Internal_transcription" >
			</div>


			<div class="field">
				<label>Internal_wall_material</label>
				<input type="text" name="bellTower[Internal_wall_material]" placeholder="Internal_wall_material" >
			</div>


			<div class="field">
				<label>Clock</label>
				<input type="text" name="bellTower[Clock]" placeholder="Clock" >
			</div>


			<div class="field">
				<label>Clock_mechanism_landing</label>
				<input type="text" name="bellTower[Clock_mechanism_landing]" placeholder="Clock_mechanism_landing" >
			</div>


			<div class="field">
				<label>Clock_side</label>
				<input type="text" name="bellTower[Clock_side]" placeholder="Clock_side" >
			</div>


			<div class="field">
				<label>Clock_working</label>
				<input type="text" name="bellTower[Clock_working]" placeholder="Clock_working" >
			</div>
		</div>








		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			data_Shaft
		</div>

		<div class="content">

			<div class="field">
				<label>Staircase_material</label>
				<input type="text" name="bellTower[Staircase_material]" placeholder="Staircase_material" >
			</div>	


			<div class="field">
				<label>Number_of_bad_steps</label>
				<input type="text" name="bellTower[Number_of_bad_steps]" placeholder="Number_of_bad_steps" >
			</div>


			<div class="field">
				<label>Number_of_shaft_decorations</label>
				<input type="text" name="bellTower[Number_of_shaft_decorations]" placeholder="Number_of_shaft_decorations" >
			</div>


			<div class="field">
				<label>Number_of_internal_decorations</label>
				<input type="text" name="bellTower[Number_of_internal_decorations]" placeholder="Number_of_internal_decorations" >
			</div>


			<div class="field">
				<label>Number_of_landings</label>
				<input type="text" name="bellTower[Number_of_landings]" placeholder="Number_of_landings" >
			</div>


			<div class="field">
				<label>Number_of_lessene</label>
				<input type="text" name="bellTower[Number_of_lessene]" placeholder="Number_of_lessene" >
			</div>


			<div class="field">
				<label>Number_of_steps</label>
				<input type="text" name="bellTower[Number_of_steps]" placeholder="Number_of_steps" >
			</div>
		</div>






		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			Belfry
		</div>

		<div class="content">
			<div class="field">
				<label>Landing_height_to_ceiling_cm</label>
				<input type="text" name="bellTower[Landing_height_to_ceiling_cm]" placeholder="Landing_height_to_ceiling_cm" >
			</div>	


			<div class="field">
				<label>Bell_tower_part</label>
				<input type="text" name="bellTower[Bell_tower_part]" placeholder="Bell_tower_part" >
			</div>


			<div class="field">
				<label>Belfry_block_depth_cm</label>
				<input type="text" name="bellTower[Belfry_block_depth_cm]" placeholder="Belfry_block_depth_cm" >
			</div>


			<div class="field">
				<label>Belfry_block_height_cm</label>
				<input type="text" name="bellTower[Belfry_block_height_cm]" placeholder="Belfry_block_height_cm" >
			</div>


			<div class="field">
				<label>Belfry_block_width_cm</label>
				<input type="text" name="bellTower[Belfry_block_width_cm]" placeholder="Belfry_block_width_cm" >
			</div>


			<div class="field">
				<label>Belfry_landing_length_cm</label>
				<input type="text" name="bellTower[Belfry_landing_length_cm]" placeholder="Belfry_landing_length_cm" >
			</div>


			<div class="field">
				<label>Belfry_landing_material</label>
				<input type="text" name="bellTower[Belfry_landing_material]" placeholder="Belfry_landing_material" >
			</div>


			<div class="field">
				<label>Belfry_landing_width_cm</label>
				<input type="text" name="bellTower[Belfry_landing_width_cm]" placeholder="Belfry_landing_width_cm" >
			</div>


			<div class="field">
				<label>Belfry_window_depth_cm</label>
				<input type="text" name="bellTower[Belfry_window_depth_cm]" placeholder="Belfry_window_depth_cm" >
			</div>


			<div class="field">
				<label>Belfry_window_height_cm</label>
				<input type="text" name="bellTower[Belfry_window_height_cm]" placeholder="Belfry_window_height_cm" >
			</div>


			<div class="field">
				<label>Belfry_window_width_cm</label>
				<input type="text" name="bellTower[Belfry_window_width_cm]" placeholder="Belfry_window_width_cm" >
			</div>


			<div class="field">
				<label>Bell_tower_parts</label>
				<input type="text" name="bellTower[Bell_tower_parts]" placeholder="Bell_tower_parts" >
			</div>
		</div>




		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			Accessibility_and_Ratings
		</div>

		<div class="content">
			<p>taco man</p>
		</div>










		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			Ratings
		</div>

		<div class="content">

			<div class="field">
				<label>Rating_Accessibility</label>
				<input type="Number" name="bellTower[Rating_Accessibility]" placeholder="Rating_Accessibility" >
			</div>	


			<div class="field">
				<label>Rating_Condition</label>
				<input type="Number" name="bellTower[Rating_Condition]" placeholder="Rating_Condition" >
			</div>


			<div class="field">
				<label>Rating_Overall</label>
				<input type="Number" name="bellTower[Rating_Overall]" placeholder="Rating_Overall" >
			</div>


			<div class="field">
				<label>Rating_Safety</label>
				<input type="Number" name="bellTower[Rating_Safety]" placeholder="Rating_Safety" >
			</div>
		</div>






		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			Public_Accessibility
		</div>

		<div class="content">

			<div class="field">
				<label>Time_Church_open_1</label>
				<input type="text" name="bellTower[Time_Church_open_1]" placeholder="Time_Church_open_1" >
			</div>	


			<div class="field">
				<label>Time_Church_open_2</label>
				<input type="text" name="bellTower[Time_Church_open_2]" placeholder="Time_Church_open_2" >
			</div>


			<div class="field">
				<label>Public_Tower_access</label>
				<input type="text" name="bellTower[Public_Tower_access]" placeholder="Public_Tower_access" >
			</div>
		</div>






		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			Bells
		</div>

		<div class="content">


			<div class="field">
				<label>Number_of_bells</label>
				<input type="text" name="bellTower[Number_of_bells]" placeholder="Number_of_bells" >
			</div>	


			<div class="field">
				<label>Frame_material</label>
				<input type="text" name="bellTower[Frame_material]" placeholder="Frame_material" >
			</div>


			<div class="field">
				<label>Frame_missing_screws_or_bolts</label>
				<input type="text" name="bellTower[Frame_missing_screws_or_bolts]" placeholder="Frame_missing_screws_or_bolts" >
			</div>


			<div class="field">
				<label>Frame_notes</label>
				<input type="text" name="bellTower[Frame_notes]" placeholder="Frame_notes" >
			</div>


			<div class="field">
				<label>Frame_restoration</label>
				<input type="text" name="bellTower[Frame_restoration]" placeholder="Frame_restoration" >
			</div>


			<div class="field">
				<label>Frame_type</label>
				<input type="text" name="bellTower[Frame_type]" placeholder="Frame_type" >
			</div>


			<div class="field">
				<label>Bell_1_Model</label>
				<input type="text" name="bellTower[Bell_1_Model]" placeholder="Bell_1_Model" >
			</div>


			<div class="field">
				<label>Bell_1_Venipedia</label>
				<input type="text" name="bellTower[Bell_1_Venipedia]" placeholder="Bell_1_Venipedia" >
			</div>


			<div class="field">
				<label>Bell_2_Model</label>
				<input type="text" name="bellTower[Bell_2_Model]" placeholder="Bell_2_Model" >
			</div>


			<div class="field">
				<label>Bell_2_Venipedia</label>
				<input type="text" name="bellTower[Bell_2_Venipedia]" placeholder="Bell_2_Venipedia" >
			</div>


			<div class="field">
				<label>Bell_3_Model</label>
				<input type="text" name="bellTower[Bell_3_Model]" placeholder="Bell_3_Model" >
			</div>


			<div class="field">
				<label>Bell_3_Venipedia</label>
				<input type="text" name="bellTower[Bell_3_Venipedia]" placeholder="Bell_3_Venipedia" >
			</div>


			<div class="field">
				<label>Bell_4_Model</label>
				<input type="text" name="bellTower[Bell_4_Model]" placeholder="Bell_4_Model" >
			</div>


			<div class="field">
				<label>Bell_4_Venipedia</label>
				<input type="text" name="bellTower[Bell_4_Venipedia]" placeholder="Bell_4_Venipedia" >
			</div>


			<div class="field">
				<label>Bell_5_Model</label>
				<input type="text" name="bellTower[Bell_5_Model]" placeholder="Bell_5_Model" >
			</div>


			<div class="field">
				<label>Bell_5_Venipedia</label>
				<input type="text" name="bellTower[Bell_5_Venipedia]" placeholder="Bell_5_Venipedia" >
			</div>


			<div class="field">
				<label>Bell_6_Venipedia</label>
				<input type="text" name="bellTower[Bell_6_Venipedia]" placeholder="Bell_6_Venipedia" >
			</div>
		</div>





		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			MEDIA
		</div>

		<div class="content">


			<div class="field">
				<label>CODICECC_1</label>
				<input type="text" name="bellTower[CODICECC_1]" placeholder="CODICECC_1" >
			</div>	


			<div class="field">
				<label>CODICE_ext_B</label>
				<input type="text" name="bellTower[CODICE_ext_B]" placeholder="CODICE_ext_B" >
			</div>


			<div class="field">
				<label>CODICE_ext_F</label>
				<input type="text" name="bellTower[CODICE_ext_F]" placeholder="CODICE_ext_F" >
			</div>


			<div class="field">
				<label>CODICE_ext_L</label>
				<input type="text" name="bellTower[CODICE_ext_L]" placeholder="CODICE_ext_L" >
			</div>


			<div class="field">
				<label>CODICE_ext_R</label>
				<input type="text" name="bellTower[CODICE_ext_R]" placeholder="CODICE_ext_R" >
			</div>


			<div class="field">
				<label>CODICE_ext_skyshot</label>
				<input type="text" name="bellTower[CODICE_ext_skyshot]" placeholder="CODICE_ext_skyshot" >
			</div>


			<div class="field">
				<label>CODICE_ext_top</label>
				<input type="text" name="bellTower[CODICE_ext_top]" placeholder="CODICE_ext_top" >
			</div>


			<div class="field">
				<label>CODICE_ext_tower</label>
				<input type="text" name="bellTower[CODICE_ext_tower]" placeholder="CODICE_ext_tower" >
			</div>


			<div class="field">
				<label>CODICE_floorplan</label>
				<input type="text" name="bellTower[CODICE_floorplan]" placeholder="CODICE_floorplan" >
			</div>


			<div class="field">
				<label>CODICE_int_landing_attic</label>
				<input type="text" name="bellTower[CODICE_int_landing_attic]" placeholder="CODICE_int_landing_attic" >
			</div>


			<div class="field">
				<label>CODICE_int_landing_belfry</label>
				<input type="text" name="bellTower[CODICE_int_landing_belfry]" placeholder="CODICE_int_landing_belfry" >
			</div>


			<div class="field">
				<label>CODICE_int_landing_ground</label>
				<input type="text" name="bellTower[CODICE_int_landing_ground]" placeholder="CODICE_int_landing_ground" >
			</div>


			<div class="field">
				<label>CODICE_machine</label>
				<input type="text" name="bellTower[CODICE_machine]" placeholder="CODICE_machine" >
			</div>


			<div class="field">
				<label>CODICE_view_0</label>
				<input type="text" name="bellTower[CODICE_view_0]" placeholder="CODICE_view_0" >
			</div>

		</div>




		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			General
		</div>

		<div class="content">
			<div class="field">
				<label>Danger_zone</label>
				<input type="text" name="bellTower[Danger_zone]" placeholder="Danger_zone" >
			</div>	


			<div class="field">
				<label>Decoration_description</label>
				<input type="text" name="bellTower[Decoration_description]" placeholder="Decoration_description" >
			</div>


			<div class="field">
				<label>Inclination_calculated</label>
				<input type="text" name="bellTower[Inclination_calculated]" placeholder="Inclination_calculated" >
			</div>


			<div class="field">
				<label>Inclination_direction</label>
				<input type="text" name="bellTower[Inclination_direction]" placeholder="Inclination_direction" >
			</div>


			<div class="field">
				<label>Inscription</label>
				<input type="text" name="bellTower[Inscription]" placeholder="Inscription" >
			</div>


			<div class="field">
				<label>Inscription_description</label>
				<input type="text" name="bellTower[Inscription_description]" placeholder="Inscription_description" >
			</div>


			<div class="field">
				<label>Intro_Blurb</label>
				<input type="text" name="bellTower[Intro_Blurb]" placeholder="Intro_Blurb" >
			</div>
		</div>




		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			Material
		</div>

		<div class="content">

			<div class="field">
				<label>Notes</label>
				<input type="text" name="bellTower[Notes]" placeholder="Notes" >
			</div>


			<div class="field">
				<label>Number_Exterior_inscriptions</label>
				<input type="text" name="bellTower[Number_Exterior_inscriptions]" placeholder="Number_Exterior_inscriptions" >
			</div>


			<div class="field">
				<label>Number_internal_inscriptions</label>
				<input type="text" name="bellTower[Number_internal_inscriptions]" placeholder="Number_internal_inscriptions" >
			</div>


			<div class="field">
				<label>Orientation_degrees_Back</label>
				<input type="text" name="bellTower[Orientation_degrees_Back]" placeholder="Orientation_degrees_Back" >
			</div>


			<div class="field">
				<label>Orientation_degrees_Front</label>
				<input type="text" name="bellTower[Orientation_degrees_Front]" placeholder="Orientation_degrees_Front" >
			</div>


			<div class="field">
				<label>Orientation_degrees_Left</label>
				<input type="text" name="bellTower[Orientation_degrees_Left]" placeholder="Orientation_degrees_Left" >
			</div>


			<div class="field">
				<label>Orientation_degrees_Right</label>
				<input type="text" name="bellTower[Orientation_degrees_Right]" placeholder="Orientation_degrees_Right" >
			</div>


			<div class="field">
				<label>Overhang_calculated_m</label>
				<input type="text" name="bellTower[Overhang_calculated_m]" placeholder="Overhang_calculated_m" >
			</div>


			<div class="field">
				<label>Page_name</label>
				<input type="text" name="bellTower[Page_name]" placeholder="Page_name" >
			</div>


			<div class="field">
				<label>Photos_Link</label>
				<input type="text" name="bellTower[Photos_Link]" placeholder="Photos_Link" >
			</div>


			<div class="field">
				<label>Proprietor</label>
				<input type="text" name="bellTower[Proprietor]" placeholder="Proprietor" >
			</div>


			<div class="field">
				<label>Ramp</label>
				<input type="text" name="bellTower[Ramp]" placeholder="Ramp" >
			</div>
		</div>



		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="title">
			<i class="dropdown icon"></i>
			Stairs
		</div>

		<div class="content">

			<div class="field">
				<label>Tower_CC1</label>
				<input type="text" name="bellTower[Tower_CC1]" placeholder="Tower_CC1" >
			</div>


			<div class="field">
				<label>Tower_CC1_B</label>
				<input type="text" name="bellTower[Tower_CC1_B]" placeholder="Tower_CC1_B" >
			</div>


			<div class="field">
				<label>Tower_CC1_B_F</label>
				<input type="text" name="bellTower[Tower_CC1_B_F]" placeholder="Tower_CC1_B_F" >
			</div>


			<div class="field">
				<label>Tower_CC1_B_F_L</label>
				<input type="text" name="bellTower[Tower_CC1_B_F_L]" placeholder="Tower_CC1_B_F_L" >
			</div>


			<div class="field">
				<label>Tower_CC1_B_F_L_R</label>
				<input type="text" name="bellTower[Tower_CC1_B_F_L_R]" placeholder="Tower_CC1_B_F_L_R" >
			</div>


			<div class="field">
				<label>Tower_CC1_B_F_L_R_sky</label>
				<input type="text" name="bellTower[Tower_CC1_B_F_L_R_sky]" placeholder="Tower_CC1_B_F_L_R_sky" >
			</div>
		</div>

		<!-- * * * * * * * * * * * * * * * * *  -->
			<div class="title">
				<i class="dropdown icon"></i>
				Submit
			</div>

			<div class="content">
				<p>Please check over all of your inputs</p>
				<p style="color: #ffffff;">- Oba</p>
			</div>
		</div>

		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="field">
			<input class="ui fluid green button" type="submit"> 
		</div>
	</form>
</div>

<% include partials/footer %>