<% include partials/header %>
<h1>New Tower</h1>
<form action="/towers" method="POST">
	<input type="text" name="bellTower[title]" placeholder="title">
	<input type="submit">
</form>
<% include partials/footer %>