<% include partials/header %>

	<script language='javascript'>
		$(document).ready(function () {
		    $('.ui.accordion').accordion();
		});
	</script>

<div id="main" class="ui container text noselect">
	<form class="ui form noselect" action="/towers" method="POST">
		<div class="ui fluid accordion">
<!-- * * * * * * * * * * * * * * * * *  -->
			<div class=" active title">
				<i class="dropdown icon"></i>
				Data
			</div>

			<div class="active content whitePaddedContent">
				<label>name</label>
				<input type="text" name="bellTower[data][Common_name]" placeholder="name" required>
				<label>number landing</label>
				<input type="number" name="bellTower[data][numLandings]" placeholder="0" required>
				<label>number bells</label>
				<input type="number" name="bellTower[data][numBells]" placeholder="0" required>
			</div>

		<!-- * * * * * * * * * * * * * * * * *  -->
			<div class="title">
				<i class="dropdown icon"></i>
				Submit
			</div>

			<div class="content whitePaddedContent">
				<p>Please check over all of your inputs</p>
				<p style="color: #ffffff;">- Oba</p>
			</div>
		</div>

		<!-- * * * * * * * * * * * * * * * * *  -->
		<div class="field">
			<input class="ui fluid green button" type="submit"> 
		</div>
	</form>
</div>

<% include partials/footer %>