<div id="editGeneralButton" class="ui fluid tiny button bottomMargin">
	Edit General
</div>


<div id="editExteriorButton" class="ui fluid tiny button bottomMargin">
	Edit Exterior
</div>	

<div id="editInteriorButton" class="ui fluid tiny button bottomMargin">
	Edit Interior
</div>	

<div id="editBellsButton" class="ui fluid tiny button bottomMargin">
	Edit Bells
</div>	

<a href="/towers/<%= tower.key %>/refactorTower">
	<div id="refactorTower" class="ui fluid tiny button bottomMargin" onclick="return confirm('All unsubmitted data will be deleted. Refactoring tower allows you to change the number of bells and landings');">
		<div>Refactor Tower</div>
	</div>	
</a>