<div id="editGeneralButton" class="ui animated button bottomMargin" tabindex="0">
	<div class="visible content">Edit General</div>
	<div class="hidden content">
		<i class="right arrow icon"></i>
	</div>
</div>


<div id="editExteriorButton" class="ui animated button bottomMargin" tabindex="0">
	<div class="visible content">Edit Exterior</div>
	<div class="hidden content">
		<i class="right arrow icon"></i>
	</div>
</div>	

<div id="editInteriorButton" class="ui animated button bottomMargin" tabindex="0">
	<div class="visible content">Edit Interior</div>
	<div class="hidden content">
		<i class="right arrow icon"></i>
	</div>
</div>	

<div id="editBellsButton" class="ui animated button bottomMargin" tabindex="0">
	<div class="visible content">Edit Bells</div>
	<div class="hidden content">
		<i class="right arrow icon"></i>
	</div>
</div>	

<a href="/towers/<%= tower.key %>/refactorTower">
	<div id="refactorTower" class="ui animated button bottomMargin" tabindex="0" onclick="return confirm('All unsubmitted data will be deleted. Refactoring tower allows you to change the number of bells and landings');">
		<div class="visible content">Refactor Tower</div>
		<div class="hidden content">
			<i class="right arrow icon"></i>
		</div>
	</div>	
</a>