<div id="generalData">
<div class="ui fluid accordion">
<!-- * * * * * * * * * * * * * * * * *  -->
	<div class=" active title">
		<i class="dropdown icon"></i>
		Data
	</div>

	<div class="active content whitePaddedContent">
		<label>name</label>
		<input type="text" name="bellTower[Common_name]" placeholder="name" value="<%= tower.val().Common_name %>">
		<label>number landing</label>
		<input type="number" name="bellTower[numLandings]" placeholder="0" value="<%= tower.val().numLandings %>">
	</div>		

<!-- * * * * * * * * * * * * * * * * *  -->
	<div class="title">
		<i class="dropdown icon"></i>
		Submit
	</div>

	<div class="content whitePaddedContent">
		<p>Please check over all of your inputs</p>
		<p style="color: #ffffff;">- Oba</p>
	</div>
</div>
</div>