<div id="editGeneralButton" class="ui animated button bottomMargin" tabindex="0">
	<div class="visible content">Edit General</div>
	<div class="hidden content">
		<i class="right arrow icon"></i>
	</div>
</div>


<div id="editExteriorButton" class="ui animated button bottomMargin" tabindex="0">
	<div class="visible content">Edit Exterior</div>
	<div class="hidden content">
		<i class="right arrow icon"></i>
	</div>
</div>	

<div id="editInteriorButton" class="ui animated button bottomMargin" tabindex="0">
	<div class="visible content">Edit Interior</div>
	<div class="hidden content">
		<i class="right arrow icon"></i>
	</div>
</div>	

<div id="editBellsButton" class="ui animated button bottomMargin" tabindex="0">
	<div class="visible content">Edit Bells</div>
	<div class="hidden content">
		<i class="right arrow icon"></i>
	</div>
</div>	