		<div class="title">
			<i class="dropdown icon"></i>
			Ringing Method and Info
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Swing direction:<span class="inputValue"> {{ bells[bell_id]['Swing_direction'] }}</span></label>
				<select class="select" ng-model="bells[bell_id]['Swing_direction']">
					<option value="R-L"> R-L </option>
					<option value="F-B"> F-B </option>
				</select>
			</div>

			<div class="field">
				<label>Hammer side:<span class="inputValue"> {{ bells[bell_id]['Hammer_side'] }}</span></label>
				<select class="select" ng-model="bells[bell_id]['Hammer_side']">
					<option value="front"> front </option>
					<option value="right"> right </option>
					<option value="back"> back </option>
					<option value="left"> left </option>
				</select>
			</div>

			<div class="field">
				<label>Reason not rung</label>
				<input type="text"  ng-model="bells[bell_id]['Reason_not_rung']" placeholder="Reason_not_rung" >
			</div>

			<div class="field">
				<label>Ringing method</label>
				<input type="text"  ng-model="bells[bell_id]['Ringing_method']" placeholder="Ringing_method" >
			</div>

			<div class="inline field">
				<div class="ui checkbox">
					<input type="checkbox" ng-model="bells[bell_id]['Automatic']" ng-true-value="'YES'" ng-false-value="'NO'">
					<label>Automatic:<span class="inputValue"> {{ bells[bell_id]['Automatic'] }}</span></label>
				</div>
			</div>

			<div class="inline field">
				<div class="ui checkbox">
					<input type="checkbox" ng-model="bells[bell_id]['Manual_working']" ng-true-value="'YES'" ng-false-value="'NO'">
					<label>Manual working:<span class="inputValue"> {{ bells[bell_id]['Manual_working'] }}</span></label>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			$('.ui.dropdown')
				.dropdown()
			;
		</script>
