		<div class="title">
			<i class="dropdown icon"></i>
			Clapper and Stock
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Clapper description material</label>
				<input type="text"  ng-model="bells[bell_id]['Clapper_description_material']" placeholder="Clapper_description_material" >
			</div>

			<div class="field">
				<label>Clapper condition:<span> {{ bells[bell_id]['Clapper_condition'] }}</span></label>
				<input class="rating" type="range" ng-model="bells[bell_id]['Clapper_condition']" min="0"  max="5">
			</div>

			<div class="inline field">
				<div class="ui checkbox">
					<input type="checkbox" ng-model="bells[bell_id]['Clapper_Rust']" ng-true-value="'YES'" ng-false-value="'NO'">
					<label>Clapper Rust:<span> {{ bells[bell_id]['Clapper_Rust'] }}</span></label>
				</div>
			</div>

			<div class="field">
				<label>Clapper Length</label>
				<input type="text"  ng-model="bells[bell_id]['Clapper_Length']" placeholder="Clapper_Length" >
			</div>

			<div class="field">
				<label>Belt description material</label>
				<input type="text"  ng-model="bells[bell_id]['Belt_description_material']" placeholder="Belt_description_material" >
			</div>

			<div class="field">
				<label>Belt condition:<span> {{ bells[bell_id]['Belt_condition'] }}</span></label>
				<input class="rating" type="range" ng-model="bells[bell_id]['Belt_condition']" min="0"  max="5">
			</div>

			<div class="field">
				<label>Stock description material</label>
				<input type="text"  ng-model="bells[bell_id]['Stock_description_material']" placeholder="Stock_description_material" >
			</div>

			<div class="field">
				<label>Stock condition:<span> {{ bells[bell_id]['Stock_condition'] }}</span></label>
				<input class="rating" type="range" ng-model="bells[bell_id]['Stock_condition']" min="0"  max="5">
			</div>

			<div class="field">
				<label>Skidmark 1 Side:<span> {{ bells[bell_id]['Skidmark_1_Side'] }}</span></label>
				<select class="select" ng-model="bells[bell_id]['Skidmark_1_Side']">
					<option value="front"> front </option>
					<option value="right"> right </option>
					<option value="back"> back </option>
					<option value="left"> left </option>
				</select>
			</div>

			<div class="field">
				<label>Skidmark 1 Left cm</label>
				<input type="text"  ng-model="bells[bell_id]['Skidmark_1_Left_cm']" placeholder="Skidmark_1_Left_cm" >
			</div>

			<div class="field">
				<label>Skidmark 1 Right cm</label>
				<input type="text"  ng-model="bells[bell_id]['Skidmark_1_Right_cm']" placeholder="Skidmark_1_Right_cm" >
			</div>

			<div class="field">
				<label>Skidmark 2 Side:<span> {{ bells[bell_id]['Skidmark_2_Side'] }}</span></label>
				<select class="select" ng-model="bells[bell_id]['Skidmark_2_Side']">
					<option value="front"> front </option>
					<option value="right"> right </option>
					<option value="back"> back </option>
					<option value="left"> left </option>
				</select>
			</div>

			<div class="field">
				<label>Skidmark 2 Left cm</label>
				<input type="text"  ng-model="bells[bell_id]['Skidmark_2_Left_cm']" placeholder="Skidmark_2_Left_cm" >
			</div>

			<div class="field">
				<label>Skidmark 2 Right cm</label>
				<input type="text"  ng-model="bells[bell_id]['Skidmark_2_Right_cm']" placeholder="Skidmark_2_Right_cm" >
			</div>

			<div class="field">
				<label>Conservation state:<span> {{ bells[bell_id]['Conservation_state'] }}</span></label>
				<input class="rating" type="range" ng-model="bells[bell_id]['Conservation_state']" min="0"  max="5">
			</div>

			<div class="field">
				<label>Number of Chips</label>
				<input type="text"  ng-model="bells[bell_id]['Number_of_Chips']" placeholder="Number_of_Chips" >
			</div>

			<div class="inline field">
				<div class="ui checkbox">
					<input type="checkbox" ng-model="bells[bell_id]['Safety_cable']" ng-true-value="'YES'" ng-false-value="'NO'">
					<label>Safety cable:<span> {{ bells[bell_id]['Safety_cable'] }}</span></label>
				</div>
			</div>

			<div class="field">
				<label>Cracked side:<span> {{ bells[bell_id]['Cracked_side'] }}</span></label>
				<select class="select" ng-model="bells[bell_id]['Cracked_side']">
					<option value="front"> front </option>
					<option value="right"> right </option>
					<option value="back"> back </option>
					<option value="left"> left </option>
				</select>
			</div>

			<div class="field">
				<label>Crack length</label>
				<input type="text"  ng-model="bells[bell_id]['Crack_length']" placeholder="Crack_length" >
			</div>

		</div>