		<div class="title">
			<i class="dropdown icon"></i>
			Location
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Longitude</label>
				<input type="text"  ng-model="bellTower['Longitude']" placeholder="Longitude" " >
			</div>

			<div class="field">
				<label>Latitude</label>
				<input type="text"  ng-model="bellTower['Latitude']" placeholder="Latitude" >
			</div>

			<div class="field">
				<label>Sestiere</label>
				<input type="text"  ng-model="bellTower['Sestiere']" placeholder="Sestiere" >
			</div>

			<div class="field">
				<label>Time open 1</label>
				<input type="text"  ng-model="bellTower['Time open 1']" placeholder="Time open 1" >
			</div>

			<div class="field">
				<label>Time open 2</label>
				<input type="text"  ng-model="bellTower['Time open 2']" placeholder="Time open 2" >
			</div>

		</div>