		<div class="title">
			<i class="dropdown icon"></i>
			Physical Dimensions
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Thickness mm</label>
				<input type="text"  ng-model="bells[bell_id]['Thickness_mm']" placeholder="Thickness_mm" >
			</div>

			<div class="field">
				<label>diameter cm</label>
				<input type="text"  ng-model="bells[bell_id]['diameter_cm']" placeholder="diameter_cm" >
			</div>

			<div class="field">
				<label>height internal cm</label>
				<input type="text"  ng-model="bells[bell_id]['height_internal_cm']" placeholder="height_internal_cm" >
			</div>

			<div class="field">
				<label>height ground cm</label>
				<input type="text"  ng-model="bells[bell_id]['height_ground_cm']" placeholder="height_ground_cm" >
			</div>

		</div>