		<div class="title">
			<i class="dropdown icon"></i>
			Fire Protection Info
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Distance from nearest canal m</label>
				<input type="text"  ng-model="bellTower['Distance_from_nearest_canal_m']" placeholder="Distance_from_nearest_canal_m" "  >
			</div>

			<div class="field">
				<label>Number and type of water source</label>
				<input type="text"  ng-model="bellTower['Number_and_type_of_water_source']" placeholder="Number_and_type_of_water_source" "  >
			</div>

		</div>