		<div class="title">
			<i class="dropdown icon"></i>
			General
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Church name</label>
				<input type="text"  ng-model="bellTower['Church name']" placeholder="Church name" "  >
			</div>

			<div class="field">
				<label>Common name</label>
				<input type="text"  ng-model="bellTower['Common name']" placeholder="Common name" "  >
			</div>

			<div class="field">
				<label>Tower Code</label>
				<input type="text"  ng-model="bellTower['Tower_Code']" placeholder="Tower_Code" "  >
			</div>

			<div class="field">
				<label>Bell Tower ID</label>
				<input type="text"  ng-model="bellTower['Bell Tower ID']" placeholder="Bell Tower ID" "  >
			</div>

			<div class="field">
				<label>Last Visited</label>
				<input type="text"  ng-model="bellTower['Last_Visited']" placeholder="Last_Visited" "  >
			</div>

			<div class="field">
				<label>Proprietor</label>
				<input type="text"  ng-model="bellTower['Proprietor']" placeholder="Proprietor" "  >
			</div>

			<div class="field">
				<label>Pastor Name</label>
				<input type="text"  ng-model="bellTower['Pastor Name']" placeholder="Pastor Name" "  >
			</div>

			<div class="field">
				<label>Danger zone</label>
				<input type="text"  ng-model="bellTower['Danger zone']" placeholder="Danger zone" "  >
			</div>

			<div class="field">
				<label>Number of bells</label>
				<input type="text"  ng-model="bellTower['Number of bells']" placeholder="Number of bells" "  >
			</div>

			<div class="field">
				<label>Number of landings</label>
				<input type="text"  ng-model="bellTower['Number of landings']" placeholder="Number of landings" "  >
			</div>

			<div class="field">
				<label>Significant history</label>
				<input type="text"  ng-model="bellTower['Significant history']" placeholder="Significant history" "  >
			</div>

			<div class="field">
				<label>Tower style</label>
				<input type="text"  ng-model="bellTower['Tower style']" placeholder="Tower style" "  >
			</div>

			<div class="field">
				<label>Construction year</label>
				<input type="text"  ng-model="bellTower['Construction year']" placeholder="Construction year" "  >
			</div>

			<div class="field">
				<label>Repair year</label>
				<input type="text"  ng-model="bellTower['Repair year']" placeholder="Repair year" "  >
			</div>

			<div class="field">
				<label>Repair description</label>
				<input type="text"  ng-model="bellTower['Repair description']" placeholder="Repair description" "  >
			</div>

			<div class="field">
				<label>Renovation and restoration years</label>
				<input type="text"  ng-model="bellTower['Renovation and restoration years']" placeholder="Renovation and restoration years" "  >
			</div>

			<div class="field">
				<label>Renovation and restoration description</label>
				<input type="text"  ng-model="bellTower['Renovation and restoration description']" placeholder="Renovation and restoration description" "  >
			</div>

			<div class="field">
				<label>Architecture</label>
				<input type="text"  ng-model="bellTower['Architecture']" placeholder="Architecture" "  >
			</div>

			<div class="field">
				<label>Architect</label>
				<input type="text"  ng-model="bellTower['Architect']" placeholder="Architect" "  >
			</div>

		</div>