		<div class="title">
			<i class="dropdown icon"></i>
			Engravings and Inscriptions
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Date on bell</label>
				<input type="text"  ng-model="bells[bell_id]['Date_on_bell']" placeholder="Date_on_bell" >
			</div>

			<div class="field">
				<label>Crown Engraving Front</label>
				<input type="text"  ng-model="bells[bell_id]['Crown_Engraving_Front']" placeholder="Crown_Engraving_Front" >
			</div>

			<div class="field">
				<label>Crown Engraving Right</label>
				<input type="text"  ng-model="bells[bell_id]['Crown_Engraving_Right']" placeholder="Crown_Engraving_Right" >
			</div>

			<div class="field">
				<label>Crown Engraving Back</label>
				<input type="text"  ng-model="bells[bell_id]['Crown_Engraving_Back']" placeholder="Crown_Engraving_Back" >
			</div>

			<div class="field">
				<label>Crown Engraving Left</label>
				<input type="text"  ng-model="bells[bell_id]['Crown_Engraving_Left']" placeholder="Crown_Engraving_Left" >
			</div>

			<div class="field">
				<label>Body Engraving Front</label>
				<input type="text"  ng-model="bells[bell_id]['Body_Engraving_Front']" placeholder="Body_Engraving_Front" >
			</div>

			<div class="field">
				<label>Body Engraving Right</label>
				<input type="text"  ng-model="bells[bell_id]['Body_Engraving_Right']" placeholder="Body_Engraving_Right" >
			</div>

			<div class="field">
				<label>Body Engraving Back</label>
				<input type="text"  ng-model="bells[bell_id]['Body_Engraving_Back']" placeholder="Body_Engraving_Back" >
			</div>

			<div class="field">
				<label>Body Engraving Left</label>
				<input type="text"  ng-model="bells[bell_id]['Body_Engraving_Left']" placeholder="Body_Engraving_Left" >
			</div>

			<div class="field">
				<label>Lip Engraving Front</label>
				<input type="text"  ng-model="bells[bell_id]['Lip_Engraving_Front']" placeholder="Lip_Engraving_Front" >
			</div>

			<div class="field">
				<label>Lip Engraving Right</label>
				<input type="text"  ng-model="bells[bell_id]['Lip_Engraving_Right']" placeholder="Lip_Engraving_Right" >
			</div>

			<div class="field">
				<label>Lip Engraving Back</label>
				<input type="text"  ng-model="bells[bell_id]['Lip_Engraving_Back']" placeholder="Lip_Engraving_Back" >
			</div>

			<div class="field">
				<label>Lip Engraving Left</label>
				<input type="text"  ng-model="bells[bell_id]['Lip_Engraving_Left']" placeholder="Lip_Engraving_Left" >
			</div>

			<div class="field">
				<label>Crown Inscription Front</label>
				<input type="text"  ng-model="bells[bell_id]['Crown_Inscription_Front']" placeholder="Crown_Inscription_Front" >
			</div>

			<div class="field">
				<label>Crown Inscription Right</label>
				<input type="text"  ng-model="bells[bell_id]['Crown_Inscription_Right']" placeholder="Crown_Inscription_Right" >
			</div>

			<div class="field">
				<label>Crown Inscription Back</label>
				<input type="text"  ng-model="bells[bell_id]['Crown_Inscription_Back']" placeholder="Crown_Inscription_Back" >
			</div>

			<div class="field">
				<label>Crown Inscription Left</label>
				<input type="text"  ng-model="bells[bell_id]['Crown_Inscription_Left']" placeholder="Crown_Inscription_Left" >
			</div>

			<div class="field">
				<label>Body Inscription Front</label>
				<input type="text"  ng-model="bells[bell_id]['Body_Inscription_Front']" placeholder="Body_Inscription_Front" >
			</div>

			<div class="field">
				<label>Body Inscription Right</label>
				<input type="text"  ng-model="bells[bell_id]['Body_Inscription_Right']" placeholder="Body_Inscription_Right" >
			</div>

			<div class="field">
				<label>Body Inscription Back</label>
				<input type="text"  ng-model="bells[bell_id]['Body_Inscription_Back']" placeholder="Body_Inscription_Back" >
			</div>

			<div class="field">
				<label>Body Inscription Left</label>
				<input type="text"  ng-model="bells[bell_id]['Body_Inscription_Left']" placeholder="Body_Inscription_Left" >
			</div>

			<div class="field">
				<label>Lip Inscription Front</label>
				<input type="text"  ng-model="bells[bell_id]['Lip_Inscription_Front']" placeholder="Lip_Inscription_Front" >
			</div>

			<div class="field">
				<label>Lip Inscription Right</label>
				<input type="text"  ng-model="bells[bell_id]['Lip_Inscription_Right']" placeholder="Lip_Inscription_Right" >
			</div>

			<div class="field">
				<label>Lip Inscription Back</label>
				<input type="text"  ng-model="bells[bell_id]['Lip_Inscription_Back']" placeholder="Lip_Inscription_Back" >
			</div>

			<div class="field">
				<label>Lip Inscription Left</label>
				<input type="text"  ng-model="bells[bell_id]['Lip_Inscription_Left']" placeholder="Lip_Inscription_Left" >
			</div>

		</div>