		<div class="title">
			<h2>Exterior Roof</h2>
		</div>
		<div class="content whitePaddedContent">
		</div>		<div class="title">
			<i class="dropdown icon"></i>
			General
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Roof Exterior Material</label>
				<input type="text"  ng-model="bellTower['Roof_Exterior_Material']" placeholder="Roof_Exterior_Material">
			</div>

			<div class="field">
				<label>Roof Percentage of tower height</label>
				<input type="text"  ng-model="bellTower['Roof_Percentage_of_tower_height']" placeholder="Roof_Percentage_of_tower_height">
			</div>

		</div>
		<div class="title">
			<i class="dropdown icon"></i>
			Visibility of Tower
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Roof Public visibility:<span class="inputValue"> {{ bellTower['Roof_Public_visibility'] }}</span></label>
				<select class="select" ng-model="bellTower['Roof_Public_visibility']">
					<option value="on Grand canal"> on Grand canal </option>
					<option value="near tourist spot"> near tourist spot </option>
					<option value="along a canal"> along a canal </option>
					<option value="by a shopping street"> by a shopping street </option>
					<option value="none"> none </option>
				</select>
			</div>

			<div class="inline field">
				<div class="ui checkbox">
					<input type="checkbox" ng-model="bellTower['Roof_Visibility_Front']" ng-true-value="'YES'" ng-false-value="'NO'">
					<label>Roof Visibility Front:<span class="inputValue"> {{ bellTower['Roof_Visibility_Front'] }}</span></label>
				</div>
			</div>

			<div class="inline field">
				<div class="ui checkbox">
					<input type="checkbox" ng-model="bellTower['Roof_Visibility_Right']" ng-true-value="'YES'" ng-false-value="'NO'">
					<label>Roof Visibility Right:<span class="inputValue"> {{ bellTower['Roof_Visibility_Right'] }}</span></label>
				</div>
			</div>

			<div class="inline field">
				<div class="ui checkbox">
					<input type="checkbox" ng-model="bellTower['Roof_Visibility_Back']" ng-true-value="'YES'" ng-false-value="'NO'">
					<label>Roof Visibility Back:<span class="inputValue"> {{ bellTower['Roof_Visibility_Back'] }}</span></label>
				</div>
			</div>

			<div class="inline field">
				<div class="ui checkbox">
					<input type="checkbox" ng-model="bellTower['Roof_Visibility_Left']" ng-true-value="'YES'" ng-false-value="'NO'">
					<label>Roof Visibility Left:<span class="inputValue"> {{ bellTower['Roof_Visibility_Left'] }}</span></label>
				</div>
			</div>

			<div class="field">
				<label>Roof Visibility Distance Front</label>
				<input type="text"  ng-model="bellTower['Roof_Visibility_Distance_Front']" placeholder="Roof_Visibility_Distance_Front">
			</div>

			<div class="field">
				<label>Roof Visibility Distance Right</label>
				<input type="text"  ng-model="bellTower['Roof_Visibility_Distance_Right']" placeholder="Roof_Visibility_Distance_Right">
			</div>

			<div class="field">
				<label>Roof Visibility Distance Back</label>
				<input type="text"  ng-model="bellTower['Roof_Visibility_Distance_Back']" placeholder="Roof_Visibility_Distance_Back">
			</div>

			<div class="field">
				<label>Roof Visibility Distance Left</label>
				<input type="text"  ng-model="bellTower['Roof_Visibility_Distance_Left']" placeholder="Roof_Visibility_Distance_Left">
			</div>

		</div>
		<div class="title">
			<i class="dropdown icon"></i>
			Notes
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Roof Exterior tower notes Front</label>
				<textarea ng-model="bellTower['Roof_Exterior tower notes_Front']"  rows="2"></textarea>
			</div>

			<div class="field">
				<label>Roof Exterior tower notes Right</label>
				<textarea ng-model="bellTower['Roof_Exterior tower notes_Right']"  rows="2"></textarea>
			</div>

			<div class="field">
				<label>Roof Exterior tower notes Back</label>
				<textarea ng-model="bellTower['Roof_Exterior tower notes_Back']"  rows="2"></textarea>
			</div>

			<div class="field">
				<label>Roof Exterior tower notes Left</label>
				<textarea ng-model="bellTower['Roof_Exterior tower notes_Left']"  rows="2"></textarea>
			</div>

		</div>
		<div class="title">
			<i class="dropdown icon"></i>
			How it is connected to Church
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Roof Connected to Front</label>
				<input type="text"  ng-model="bellTower['Roof_Connected_to_Front']" placeholder="Roof_Connected_to_Front">
			</div>

			<div class="field">
				<label>Roof Connected to Right</label>
				<input type="text"  ng-model="bellTower['Roof_Connected_to_Right']" placeholder="Roof_Connected_to_Right">
			</div>

			<div class="field">
				<label>Roof Connected to Back</label>
				<input type="text"  ng-model="bellTower['Roof_Connected_to_Back']" placeholder="Roof_Connected_to_Back">
			</div>

			<div class="field">
				<label>Roof Connected to Left</label>
				<input type="text"  ng-model="bellTower['Roof_Connected_to_Left']" placeholder="Roof_Connected_to_Left">
			</div>

			<div class="field">
				<label>Roof Length attached percentage Front</label>
				<input type="text"  ng-model="bellTower['Roof_Length_attached_percentage_Front']" placeholder="Roof_Length_attached_percentage_Front">
			</div>

			<div class="field">
				<label>Roof Length attached percentage Right</label>
				<input type="text"  ng-model="bellTower['Roof_Length_attached_percentage_Right']" placeholder="Roof_Length_attached_percentage_Right">
			</div>

			<div class="field">
				<label>Roof Length attached percentage Back</label>
				<input type="text"  ng-model="bellTower['Roof_Length_attached_percentage_Back']" placeholder="Roof_Length_attached_percentage_Back">
			</div>

			<div class="field">
				<label>Roof Length attached percentage Left</label>
				<input type="text"  ng-model="bellTower['Roof_Length_attached_percentage_Left']" placeholder="Roof_Length_attached_percentage_Left">
			</div>

		</div>
		<div class="title">
			<i class="dropdown icon"></i>
			Decorations Outside
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Roof Num Plants Front</label>
				<input type="text"  ng-model="bellTower['Roof_Num_Plants_Front']" placeholder="Roof_Num_Plants_Front">
			</div>

			<div class="field">
				<label>Roof Num Plants Right</label>
				<input type="text"  ng-model="bellTower['Roof_Num_Plants_Right']" placeholder="Roof_Num_Plants_Right">
			</div>

			<div class="field">
				<label>Roof Num Plants Back</label>
				<input type="text"  ng-model="bellTower['Roof_Num_Plants_Back']" placeholder="Roof_Num_Plants_Back">
			</div>

			<div class="field">
				<label>Roof Num Plants Left</label>
				<input type="text"  ng-model="bellTower['Roof_Num_Plants_Left']" placeholder="Roof_Num_Plants_Left">
			</div>

			<div class="field">
				<label>Roof Number of art pieces Front</label>
				<input type="text"  ng-model="bellTower['Roof_Number of art pieces_Front']" placeholder="Roof_Number of art pieces_Front">
			</div>

			<div class="field">
				<label>Roof Number of art pieces Right</label>
				<input type="text"  ng-model="bellTower['Roof_Number of art pieces_Right']" placeholder="Roof_Number of art pieces_Right">
			</div>

			<div class="field">
				<label>Roof Number of art pieces Back</label>
				<input type="text"  ng-model="bellTower['Roof_Number of art pieces_Back']" placeholder="Roof_Number of art pieces_Back">
			</div>

			<div class="field">
				<label>Roof Number of art pieces Left</label>
				<input type="text"  ng-model="bellTower['Roof_Number of art pieces_Left']" placeholder="Roof_Number of art pieces_Left">
			</div>

			<div class="field">
				<label>Roof Number Exterior inscriptions</label>
				<input type="text"  ng-model="bellTower['Roof_Number Exterior inscriptions']" placeholder="Roof_Number Exterior inscriptions">
			</div>

			<div class="field">
				<label>Roof Inscription</label>
				<input type="text"  ng-model="bellTower['Roof_Inscription']" placeholder="Roof_Inscription">
			</div>

			<div class="field">
				<label>Roof Inscription description</label>
				<input type="text"  ng-model="bellTower['Roof_Inscription description']" placeholder="Roof_Inscription description">
			</div>

			<div class="field">
				<label>Roof Avg inscription legability:<span class="inputValue"> {{ bellTower['Roof_Avg_inscription_legability'] }}</span></label>
				<input class="rating" type="range" ng-model="bellTower['Roof_Avg_inscription_legability']" min="0"  max="5">
			</div>

			<div class="field">
				<label>Roof Number of decorations</label>
				<input type="text"  ng-model="bellTower['Roof_Number of decorations']" placeholder="Roof_Number of decorations">
			</div>

			<div class="field">
				<label>Roof Decoration description</label>
				<input type="text"  ng-model="bellTower['Roof_Decoration description']" placeholder="Roof_Decoration description">
			</div>

			<div class="field">
				<label>Roof Decoration condition:<span class="inputValue"> {{ bellTower['Roof_Decoration_condition'] }}</span></label>
				<input class="rating" type="range" ng-model="bellTower['Roof_Decoration_condition']" min="0"  max="5">
			</div>

		</div>
		<div class="title">
			<i class="dropdown icon"></i>
			Tower Defects
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Roof Num cracks holes Front</label>
				<input type="text"  ng-model="bellTower['Roof_Num_cracks_holes_Front']" placeholder="Roof_Num_cracks_holes_Front">
			</div>

			<div class="field">
				<label>Roof Num cracks holes Right</label>
				<input type="text"  ng-model="bellTower['Roof_Num_cracks_holes_Right']" placeholder="Roof_Num_cracks_holes_Right">
			</div>

			<div class="field">
				<label>Roof Num cracks holes Back</label>
				<input type="text"  ng-model="bellTower['Roof_Num_cracks_holes_Back']" placeholder="Roof_Num_cracks_holes_Back">
			</div>

			<div class="field">
				<label>Roof Num cracks holes Left</label>
				<input type="text"  ng-model="bellTower['Roof_Num_cracks_holes_Left']" placeholder="Roof_Num_cracks_holes_Left">
			</div>

			<div class="field">
				<label>Roof Num brick colors Front</label>
				<input type="text"  ng-model="bellTower['Roof_Num_brick_colors_Front']" placeholder="Roof_Num_brick_colors_Front">
			</div>

			<div class="field">
				<label>Roof Num brick colors Right</label>
				<input type="text"  ng-model="bellTower['Roof_Num_brick_colors_Right']" placeholder="Roof_Num_brick_colors_Right">
			</div>

			<div class="field">
				<label>Roof Num brick colors Back</label>
				<input type="text"  ng-model="bellTower['Roof_Num_brick_colors_Back']" placeholder="Roof_Num_brick_colors_Back">
			</div>

			<div class="field">
				<label>Roof Num brick colors Left</label>
				<input type="text"  ng-model="bellTower['Roof_Num_brick_colors_Left']" placeholder="Roof_Num_brick_colors_Left">
			</div>

			<div class="field">
				<label>Roof Number of ties and bands Front</label>
				<input type="text"  ng-model="bellTower['Roof_Number of ties and bands_Front']" placeholder="Roof_Number of ties and bands_Front">
			</div>

			<div class="field">
				<label>Roof Number of ties and bands Right</label>
				<input type="text"  ng-model="bellTower['Roof_Number of ties and bands_Right']" placeholder="Roof_Number of ties and bands_Right">
			</div>

			<div class="field">
				<label>Roof Number of ties and bands Back</label>
				<input type="text"  ng-model="bellTower['Roof_Number of ties and bands_Back']" placeholder="Roof_Number of ties and bands_Back">
			</div>

			<div class="field">
				<label>Roof Number of ties and bands Left</label>
				<input type="text"  ng-model="bellTower['Roof_Number of ties and bands_Left']" placeholder="Roof_Number of ties and bands_Left">
			</div>

		</div>
		<div class="title">
			<i class="dropdown icon"></i>
			Windows
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Roof Number of windows Front</label>
				<input type="text"  ng-model="bellTower['Roof_Number of windows_Front']" placeholder="Roof_Number of windows_Front">
			</div>

			<div class="field">
				<label>Roof Number of windows Right</label>
				<input type="text"  ng-model="bellTower['Roof_Number of windows_Right']" placeholder="Roof_Number of windows_Right">
			</div>

			<div class="field">
				<label>Roof Number of windows Back</label>
				<input type="text"  ng-model="bellTower['Roof_Number of windows_Back']" placeholder="Roof_Number of windows_Back">
			</div>

			<div class="field">
				<label>Roof Number of windows Left</label>
				<input type="text"  ng-model="bellTower['Roof_Number of windows_Left']" placeholder="Roof_Number of windows_Left">
			</div>

			<div class="field">
				<label>Roof Blocked window number Front</label>
				<input type="text"  ng-model="bellTower['Roof_Blocked window number_Front']" placeholder="Roof_Blocked window number_Front">
			</div>

			<div class="field">
				<label>Roof Blocked window number Right</label>
				<input type="text"  ng-model="bellTower['Roof_Blocked window number_Right']" placeholder="Roof_Blocked window number_Right">
			</div>

			<div class="field">
				<label>Roof Blocked window number Back</label>
				<input type="text"  ng-model="bellTower['Roof_Blocked window number_Back']" placeholder="Roof_Blocked window number_Back">
			</div>

			<div class="field">
				<label>Roof Blocked window number Left</label>
				<input type="text"  ng-model="bellTower['Roof_Blocked window number_Left']" placeholder="Roof_Blocked window number_Left">
			</div>

			<div class="field">
				<label>Roof Barred window number Front</label>
				<input type="text"  ng-model="bellTower['Roof_Barred window number_Front']" placeholder="Roof_Barred window number_Front">
			</div>

			<div class="field">
				<label>Roof Barred window number Right</label>
				<input type="text"  ng-model="bellTower['Roof_Barred window number_Right']" placeholder="Roof_Barred window number_Right">
			</div>

			<div class="field">
				<label>Roof Barred window number Back</label>
				<input type="text"  ng-model="bellTower['Roof_Barred window number_Back']" placeholder="Roof_Barred window number_Back">
			</div>

			<div class="field">
				<label>Roof Barred window number Left</label>
				<input type="text"  ng-model="bellTower['Roof_Barred window number_Left']" placeholder="Roof_Barred window number_Left">
			</div>

			<div class="field">
				<label>Roof Meshed window number Front</label>
				<input type="text"  ng-model="bellTower['Roof_Meshed window number_Front']" placeholder="Roof_Meshed window number_Front">
			</div>

			<div class="field">
				<label>Roof Meshed window number Right</label>
				<input type="text"  ng-model="bellTower['Roof_Meshed window number_Right']" placeholder="Roof_Meshed window number_Right">
			</div>

			<div class="field">
				<label>Roof Meshed window number Back</label>
				<input type="text"  ng-model="bellTower['Roof_Meshed window number_Back']" placeholder="Roof_Meshed window number_Back">
			</div>

			<div class="field">
				<label>Roof Meshed window number Left</label>
				<input type="text"  ng-model="bellTower['Roof_Meshed window number_Left']" placeholder="Roof_Meshed window number_Left">
			</div>

		</div>
		<div class="title">
			<i class="dropdown icon"></i>
			Restoration
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Roof Restoration visible Front</label>
				<input type="text"  ng-model="bellTower['Roof_Restoration visible_Front']" placeholder="Roof_Restoration visible_Front">
			</div>

			<div class="field">
				<label>Roof Restoration visible Right</label>
				<input type="text"  ng-model="bellTower['Roof_Restoration visible_Right']" placeholder="Roof_Restoration visible_Right">
			</div>

			<div class="field">
				<label>Roof Restoration visible Back</label>
				<input type="text"  ng-model="bellTower['Roof_Restoration visible_Back']" placeholder="Roof_Restoration visible_Back">
			</div>

			<div class="field">
				<label>Roof Restoration visible Left</label>
				<input type="text"  ng-model="bellTower['Roof_Restoration visible_Left']" placeholder="Roof_Restoration visible_Left">
			</div>

		</div>
		<div class="title">
			<i class="dropdown icon"></i>
			Clock
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Roof Clock</label>
				<input type="text"  ng-model="bellTower['Roof_Clock']" placeholder="Roof_Clock">
			</div>

			<div class="field">
				<label>Roof Clock side:<span class="inputValue"> {{ bellTower['Roof_Clock side'] }}</span></label>
				<select class="select" ng-model="bellTower['Roof_Clock side']">
					<option value="front"> front </option>
					<option value="right"> right </option>
					<option value="back"> back </option>
					<option value="left"> left </option>
				</select>
			</div>

			<div class="field">
				<label>Roof Clock working</label>
				<input type="text"  ng-model="bellTower['Roof_Clock working']" placeholder="Roof_Clock working">
			</div>

			<div class="field">
				<label>Roof Clock mechanism landing</label>
				<input type="text"  ng-model="bellTower['Roof_Clock mechanism landing']" placeholder="Roof_Clock mechanism landing">
			</div>

		</div>