		<div class="title">
			<i class="dropdown icon"></i>
			Exterior_General
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Type</label>
				<input type="text"  ng-model="bellTower['Type']" placeholder="Type">
			</div>

			<div class="field">
				<label>Date Visited</label>
				<input type="text"  ng-model="bellTower['Date_Visited']" placeholder="Date_Visited">
			</div>

			<div class="field">
				<label>Number of Bells</label>
				<input type="text"  ng-model="bellTower['Number_of_Bells']" placeholder="Number_of_Bells">
			</div>

			<div class="field">
				<label>Bell tower part</label>
				<input type="text"  ng-model="bellTower['Bell tower part']" placeholder="Bell tower part">
			</div>

			<div class="field">
				<label>Bell tower parts</label>
				<input type="text"  ng-model="bellTower['Bell tower parts']" placeholder="Bell tower parts">
			</div>

			<div class="field">
				<label>Picture Drive</label>
				<input type="text"  ng-model="bellTower['Picture_Drive']" placeholder="Picture_Drive">
			</div>

			<div class="field">
				<label>Tower height m</label>
				<input type="text"  ng-model="bellTower['Tower height_m']" placeholder="Tower height_m">
			</div>

			<div class="field">
				<label>Material</label>
				<input type="text"  ng-model="bellTower['Material']" placeholder="Material">
			</div>

			<div class="field">
				<label>Exterior block height cm</label>
				<input type="text"  ng-model="bellTower['Exterior block height_cm']" placeholder="Exterior block height_cm">
			</div>

			<div class="field">
				<label>Exterior block width cm</label>
				<input type="text"  ng-model="bellTower['Exterior block width_cm']" placeholder="Exterior block width_cm">
			</div>

			<div class="field">
				<label>Exterior block depth cm</label>
				<input type="text"  ng-model="bellTower['Exterior block depth_cm']" placeholder="Exterior block depth_cm">
			</div>

		</div>