		<div class="title">
			<i class="dropdown icon"></i>
			Orientation and Inclination of Tower
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Orientation degrees Front</label>
				<input type="text"  ng-model="bellTower['Orientation degrees_Front']" placeholder="Orientation degrees_Front">
			</div>

			<div class="field">
				<label>Orientation degrees Right</label>
				<input type="text"  ng-model="bellTower['Orientation degrees_Right']" placeholder="Orientation degrees_Right">
			</div>

			<div class="field">
				<label>Orientation degrees Back</label>
				<input type="text"  ng-model="bellTower['Orientation degrees_Back']" placeholder="Orientation degrees_Back">
			</div>

			<div class="field">
				<label>Orientation degrees Left</label>
				<input type="text"  ng-model="bellTower['Orientation degrees_Left']" placeholder="Orientation degrees_Left">
			</div>

			<div class="field">
				<label>Inclination rating:<span class="inputValue"> {{ bellTower['Inclination_rating'] }}</span></label>
				<select class="select" ng-model="bellTower['Inclination_rating']">
					<option value="none"> none </option>
					<option value="slight"> slight </option>
					<option value="serious"> serious </option>
				</select>
			</div>

			<div class="field">
				<label>Inclination direction</label>
				<input type="text"  ng-model="bellTower['Inclination direction']" placeholder="Inclination direction">
			</div>

			<div class="field">
				<label>Inclination calculated</label>
				<input type="text"  ng-model="bellTower['Inclination calculated']" placeholder="Inclination calculated">
			</div>

			<div class="field">
				<label>Plumb line length</label>
				<input type="text"  ng-model="bellTower['Plumb line length']" placeholder="Plumb line length">
			</div>

			<div class="field">
				<label>Plumb bob distance</label>
				<input type="text"  ng-model="bellTower['Plumb bob distance']" placeholder="Plumb bob distance">
			</div>

			<div class="field">
				<label>Overhang calculated m</label>
				<input type="text"  ng-model="bellTower['Overhang calculated_m']" placeholder="Overhang calculated_m">
			</div>

		</div>