<div class="title">
	<i class="dropdown icon"></i>
	Stairs Info
</div>

<div class="content whitePaddedContent">
	<div class="inline field">
		<input type="checkbox" ng-model="landings[landing_id]['Ramp']" ng-true-value="'YES'" ng-false-value="'NO'">
		<label>Ramp:<span> {{ landings[landing_id]['Ramp'] }}</span></label>
	</div>

	<div class="inline field">
		<input type="checkbox" ng-model="landings[landing_id]['Stairs']" ng-true-value="'YES'" ng-false-value="'NO'">
		<label>Stairs:<span> {{ landings[landing_id]['Stairs'] }}</span></label>
	</div>

	<div class="inline field">
		<input type="checkbox" ng-model="landings[landing_id]['Railing']" ng-true-value="'YES'" ng-false-value="'NO'">
		<label>Railing:<span> {{ landings[landing_id]['Railing'] }}</span></label>
	</div>

	<div class="field">
		<label>Number of steps</label>
		<input type="text"landings[landing_id][Number of steps]" placeholder="Number of steps" "  >
	</div>

	<div class="field">
		<label>Number of bad steps</label>
		<input type="text"landings[landing_id][Number of bad steps]" placeholder="Number of bad steps" "  >
	</div>

	<div class="field">
		<label>Staircase Cleanliness:<span> {{ landings[landing_id]['Staircase_Cleanliness'] }}</span></label>
		<input class="rating" type="range" ng-model="landings[landing_id]['Staircase_Cleanliness']" min="0"  max="5">
	</div>

	<div class="field">
		<label>Staircase Sturdiness:<span> {{ landings[landing_id]['Staircase_Sturdiness'] }}</span></label>
		<input class="rating" type="range" ng-model="landings[landing_id]['Staircase_Sturdiness']" min="0"  max="5">
	</div>

	<div class="field">
		<label>Railing Sturdiness:<span> {{ landings[landing_id]['Railing_Sturdiness'] }}</span></label>
		<input class="rating" type="range" ng-model="landings[landing_id]['Railing_Sturdiness']" min="0"  max="5">
	</div>
</div>