		<div class="title">
			<i class="dropdown icon"></i>
			Tower Defects
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Number Cracks and Holes Front</label>
				<input type="text"  ng-model="landings[landing_id]['Number_Cracks_and_Holes_Front']" placeholder="Number_Cracks_and_Holes_Front" "  >
			</div>

			<div class="field">
				<label>Number Cracks and Holes Right</label>
				<input type="text"  ng-model="landings[landing_id]['Number_Cracks_and_Holes_Right']" placeholder="Number_Cracks_and_Holes_Right" "  >
			</div>

			<div class="field">
				<label>Number Cracks and Holes Back</label>
				<input type="text"  ng-model="landings[landing_id]['Number_Cracks_and_Holes_Back']" placeholder="Number_Cracks_and_Holes_Back" "  >
			</div>

			<div class="field">
				<label>Number Cracks and Holes Left</label>
				<input type="text"  ng-model="landings[landing_id]['Number_Cracks_and_Holes_Left']" placeholder="Number_Cracks_and_Holes_Left" "  >
			</div>

			<div class="field">
				<label>Length of Cracks and Holes Front</label>
				<input type="text"  ng-model="landings[landing_id]['Length_of_Cracks_and_Holes_Front']" placeholder="Length_of_Cracks_and_Holes_Front" "  >
			</div>

			<div class="field">
				<label>Length of Cracks and Holes Right</label>
				<input type="text"  ng-model="landings[landing_id]['Length_of_Cracks_and_Holes_Right']" placeholder="Length_of_Cracks_and_Holes_Right" "  >
			</div>

			<div class="field">
				<label>Length of Cracks and Holes Back</label>
				<input type="text"  ng-model="landings[landing_id]['Length_of_Cracks_and_Holes_Back']" placeholder="Length_of_Cracks_and_Holes_Back" "  >
			</div>

			<div class="field">
				<label>Length of Cracks and Holes Left</label>
				<input type="text"  ng-model="landings[landing_id]['Length_of_Cracks_and_Holes_Left']" placeholder="Length_of_Cracks_and_Holes_Left" "  >
			</div>

			<div class="field">
				<label>Number Damage Stone Front</label>
				<input type="text"  ng-model="landings[landing_id]['Number_Damage_Stone_Front']" placeholder="Number_Damage_Stone_Front" "  >
			</div>

			<div class="field">
				<label>Number Damage Stone Right</label>
				<input type="text"  ng-model="landings[landing_id]['Number_Damage_Stone_Right']" placeholder="Number_Damage_Stone_Right" "  >
			</div>

			<div class="field">
				<label>Number Damage Stone Back</label>
				<input type="text"  ng-model="landings[landing_id]['Number_Damage_Stone_Back']" placeholder="Number_Damage_Stone_Back" "  >
			</div>

			<div class="field">
				<label>Number Damage Stone Left</label>
				<input type="text"  ng-model="landings[landing_id]['Number_Damage_Stone_Left']" placeholder="Number_Damage_Stone_Left" "  >
			</div>

			<div class="field">
				<label>Number Misaligned Brick Front</label>
				<input type="text"  ng-model="landings[landing_id]['Number_Misaligned_Brick_Front']" placeholder="Number_Misaligned_Brick_Front" "  >
			</div>

			<div class="field">
				<label>Number Misaligned Brick Right</label>
				<input type="text"  ng-model="landings[landing_id]['Number_Misaligned_Brick_Right']" placeholder="Number_Misaligned_Brick_Right" "  >
			</div>

			<div class="field">
				<label>Number Misaligned Brick Back</label>
				<input type="text"  ng-model="landings[landing_id]['Number_Misaligned_Brick_Back']" placeholder="Number_Misaligned_Brick_Back" "  >
			</div>

			<div class="field">
				<label>Number Misaligned Brick Left</label>
				<input type="text"  ng-model="landings[landing_id]['Number_Misaligned_Brick_Left']" placeholder="Number_Misaligned_Brick_Left" "  >
			</div>

		</div>