<div class="title">
			<i class="dropdown icon"></i>
			Audio Links
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Bell Chorus Audio</label>
				<input type="text"  ng-model="bellTower['Bell_Chorus_Audio']" placeholder="https://example.com/Bell_Chorus_Audio">
			</div>

			<div class="field">
				<label>Bell 1 Audio</label>
				<input type="text"  ng-model="bellTower['Bell_1_Audio']" placeholder="https://example.com/Bell_1_Audio">
			</div>

			<div class="field">
				<label>Bell 2 Audio</label>
				<input type="text"  ng-model="bellTower['Bell_2_Audio']" placeholder="https://example.com/Bell_2_Audio">
			</div>

			<div class="field">
				<label>Bell 3 Audio</label>
				<input type="text"  ng-model="bellTower['Bell_3_Audio']" placeholder="https://example.com/Bell_3_Audio">
			</div>

			<div class="field">
				<label>Bell 4 Audio</label>
				<input type="text"  ng-model="bellTower['Bell_4_Audio']" placeholder="https://example.com/Bell_4_Audio">
			</div>

			<div class="field">
				<label>Bell 5 Audio</label>
				<input type="text"  ng-model="bellTower['Bell_5_Audio']" placeholder="https://example.com/Bell_5_Audio">
			</div>

			<div class="field">
				<label>Bell 6 Audio</label>
				<input type="text"  ng-model="bellTower['Bell_6_Audio']" placeholder="https://example.com/Bell_6_Audio">
			</div>

			<div class="field">
				<label>Bell 7 Audio</label>
				<input type="text"  ng-model="bellTower['Bell_7_Audio']" placeholder="https://example.com/Bell_7_Audio">
			</div>

			<div class="field">
				<label>Bell 8 Audio</label>
				<input type="text"  ng-model="bellTower['Bell_8_Audio']" placeholder="https://example.com/Bell_8_Audio">
			</div>

			<div class="field">
				<label>Bell 9 Audio</label>
				<input type="text"  ng-model="bellTower['Bell_9_Audio']" placeholder="https://example.com/Bell_9_Audio">
			</div>

			<div class="field">
				<label>Bell 10 Audio</label>
				<input type="text"  ng-model="bellTower['Bell_10_Audio']" placeholder="https://example.com/Bell_10_Audio">
			</div>

			<div class="field">
				<label>Bell 11 Audio</label>
				<input type="text"  ng-model="bellTower['Bell_11_Audio']" placeholder="https://example.com/Bell_11_Audio">
			</div>

		</div>