<div class="title">
	<i class="dropdown icon"></i>
	Venipedia Links
</div>
<div class="content whitePaddedContent">
	<div class="field">
		<label>Page name</label>
		<input type="text"  ng-model="bellTower['Page name']" placeholder="Page name">
	</div>

<!-- BELL DATA Repitition-->
	<div class="field" ng-repeat="num in [1,2,3,4,5,6,7,8,9,10,11]">
		<label>
			<a target="_blank" ng-href="{{bellTower['Bell_'+ num +'_Venipedia']}}">
				Bell {{num}} Venipedia
			</a>
		</label>
		<input type="text"  ng-model="bellTower['Bell_'+ num +'_Venipedia']" placeholder="https://example.com/Bell_{{num}}_Venipedia">
	</div>
<!-- END BELL DATA Repitition-->
</div>