<div class="title">
		<i class="dropdown icon"></i>
		Audio Links
	</div>
	<div class="content whitePaddedContent">
		<div class="field">
			<label>
				<a target="_blank" ng-href="{{bellTower['Bell_Chorus_Audio']}}">
					Bell Chorus Audio
				</a>
			</label>
			<input type="text"  ng-model="bellTower['Bell_Chorus_Audio']" placeholder="https://example.com/Bell_Chorus_Audio">
			<progress value="0" max="100" id="uploader">0%</progress>
			<input type="file" accept="image/*" value="upload" id="fileButton">
			<button id='upload' ng-click="bc.upload()">upload</button>
		</div>

	<!-- BELL DATA Repitition-->
		<div class="field" ng-repeat="num in [1,2,3,4,5,6,7,8,9,10,11]">
			<label>
				<a target="_blank" ng-href="{{bellTower['Bell_'+ num +'_Audio']}}">
					Bell {{num}} Audio
				</a>
			</label>
			<input type="text"  ng-model="bellTower['Bell_'+ num +'_Audio']" placeholder="https://example.com/Bell_{{num}}_Audio">
		</div>
	<!-- END BELL DATA Repitition-->
</div>