<div class="title">
			<i class="dropdown icon"></i>
			Ricoh Links
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>360 Belfry Link</label>
				<input type="text"  ng-model="bellTower['360_Belfry_Link']" placeholder="360_Belfry_Link">
			</div>

			<div class="field">
				<label>360 GroundFloor Link</label>
				<input type="text"  ng-model="bellTower['360_GroundFloor_Link']" placeholder="360_GroundFloor_Link">
			</div>

			<div class="field">
				<label>360 Landing 1 Link</label>
				<input type="text"  ng-model="bellTower['360_Landing_1_Link']" placeholder="360_Landing_1_Link">
			</div>

			<div class="field">
				<label>360 Landing 2 Link</label>
				<input type="text"  ng-model="bellTower['360_Landing_2_Link']" placeholder="360_Landing_2_Link">
			</div>

			<div class="field">
				<label>360 Landing 3 Link</label>
				<input type="text"  ng-model="bellTower['360_Landing_3_Link']" placeholder="360_Landing_3_Link">
			</div>

			<div class="field">
				<label>360 Landing 4 Link</label>
				<input type="text"  ng-model="bellTower['360_Landing_4_Link']" placeholder="360_Landing_4_Link">
			</div>

			<div class="field">
				<label>360 Landing 5 Link</label>
				<input type="text"  ng-model="bellTower['360_Landing_5_Link']" placeholder="360_Landing_5_Link">
			</div>

			<div class="field">
				<label>360 Landing 6 Link</label>
				<input type="text"  ng-model="bellTower['360_Landing_6_Link']" placeholder="360_Landing_6_Link">
			</div>

			<div class="field">
				<label>360 Landing 7 Link</label>
				<input type="text"  ng-model="bellTower['360_Landing_7_Link']" placeholder="360_Landing_7_Link">
			</div>

			<div class="field">
				<label>360 Landing 8 Link</label>
				<input type="text"  ng-model="bellTower['360_Landing_8_Link']" placeholder="360_Landing_8_Link">
			</div>

			<div class="field">
				<label>360 Landing 9 Link</label>
				<input type="text"  ng-model="bellTower['360_Landing_9_Link']" placeholder="360_Landing_9_Link">
			</div>

			<div class="field">
				<label>360 Landing 10 Link</label>
				<input type="text"  ng-model="bellTower['360_Landing_10_Link']" placeholder="360_Landing_10_Link">
			</div>

			<div class="field">
				<label>360 Landing 11 Link</label>
				<input type="text"  ng-model="bellTower['360_Landing_11_Link']" placeholder="360_Landing_11_Link">
			</div>

		</div>