<div class="title">
			<i class="dropdown icon"></i>
			Venipedia Links
		</div>
		<div class="content whitePaddedContent">
			<div class="field">
				<label>Page name</label>
				<input type="text"  ng-model="bellTower['Page name']" placeholder="Page name">
			</div>

			<div class="field">
				<label>Bell 1 Venipedia</label>
				<input type="text"  ng-model="bellTower['Bell_1_Venipedia']" placeholder="https://example.com/Bell_1_Venipedia">
			</div>

			<div class="field">
				<label>Bell 2 Venipedia</label>
				<input type="text"  ng-model="bellTower['Bell_2_Venipedia']" placeholder="https://example.com/Bell_2_Venipedia">
			</div>

			<div class="field">
				<label>Bell 3 Venipedia</label>
				<input type="text"  ng-model="bellTower['Bell_3_Venipedia']" placeholder="https://example.com/Bell_3_Venipedia">
			</div>

			<div class="field">
				<label>Bell 4 Venipedia</label>
				<input type="text"  ng-model="bellTower['Bell_4_Venipedia']" placeholder="https://example.com/Bell_4_Venipedia">
			</div>

			<div class="field">
				<label>Bell 5 Venipedia</label>
				<input type="text"  ng-model="bellTower['Bell_5_Venipedia']" placeholder="https://example.com/Bell_5_Venipedia">
			</div>

			<div class="field">
				<label>Bell 6 Venipedia</label>
				<input type="text"  ng-model="bellTower['Bell_6_Venipedia']" placeholder="https://example.com/Bell_6_Venipedia">
			</div>

			<div class="field">
				<label>Bell 7 Venipedia</label>
				<input type="text"  ng-model="bellTower['Bell_7_Venipedia']" placeholder="https://example.com/Bell_7_Venipedia">
			</div>

			<div class="field">
				<label>Bell 8 Venipedia</label>
				<input type="text"  ng-model="bellTower['Bell_8_Venipedia']" placeholder="https://example.com/Bell_8_Venipedia">
			</div>

			<div class="field">
				<label>Bell 9 Venipedia</label>
				<input type="text"  ng-model="bellTower['Bell_9_Venipedia']" placeholder="https://example.com/Bell_9_Venipedia">
			</div>

			<div class="field">
				<label>Bell 10 Venipedia</label>
				<input type="text"  ng-model="bellTower['Bell_10_Venipedia']" placeholder="https://example.com/Bell_10_Venipedia">
			</div>

			<div class="field">
				<label>Bell 11 Venipedia</label>
				<input type="text"  ng-model="bellTower['Bell_11_Venipedia']" placeholder="https://example.com/Bell_11_Venipedia">
			</div>

		</div>