<div class="ui container text noselect">
	<div class="ui green button" ng-click="bc.analyze()">Analyze data</div>

	<progress value="0" max="100" id="uploader">0%</progress>
	<input type="file" accept="image/*" value="upload" id="fileButton">
	<button id='upload' onclick="upload()">upload</button>
</div>

<script type="text/javascript">
	// Get elements
	var uploader = document.getElementById('uploader');
	var fileButton = document.getElementById('fileButton');

	function upload() {
		console.log('upload')

		// Get file
		var file = fileButton.files[0];

		// Create a storage ref
		storageRef = firebase.storage().ref('folder_name/' + file.name);

		// Upload file
		var uploadTask = storageRef.put(file);

		// Update progress bar
		uploadTask.on('state_changed',
			function progress(snapshot) {
				var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
				uploader.value = percentage;
			}, 

			function error(err) {
				console.log(err);
			},

			function complete() {
				var downloadURL = uploadTask.snapshot.downloadURL;
				console.log(downloadURL)
			}
		);
	}

	// // Listen for file selection
	// fileButton.addEventListener('change', function(e) {
	// 	// Get file
	// 	var file = e.target.files[0];

	// 	// Create a storage ref
	// 	storageRef = firebase.storage().ref('folder_name/' + file.name);

	// 	// Upload file
	// 	var uploadTask = storageRef.put(file);

	// 	// Update progress bar
	// 	uploadTask.on('state_changed',
	// 		function progress(snapshot) {
	// 			var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
	// 			uploader.value = percentage;
	// 		}, 

	// 		function error(err) {
	// 			console.log(err);
	// 		},

	// 		function complete() {
	// 			var downloadURL = uploadTask.snapshot.downloadURL;
	// 			console.log(downloadURL)
	// 		}
	// 	);
	// });
</script>














