<script language='javascript'>
	$(document).ready(function () {
	    $('.ui.accordion').accordion();
	});
</script>

<div class="ui container text noselect">
	<h1><a style="color: white" ng-href="#towers/{{current_tower_id}}">{{bellTower['Common name']}}</a></h1>
	<!-- <h2 class="pageTitle"><span id="dataCategorySpan">General</span> Info</h2> -->
	<div ng-include="'/views/partials/editPartials/editButtons.htm'"></div>

	<form class="ui form noselect">
		<!-- 
			code that connects editButtons.htm to edit sections is found in edit.js.
			to create a new category bellow make sure to add the id="xxx" content to the dataCategories[] array in edit.js
		-->
		<div id="generalData" ng-include="'/views/partials/editPartials/editGeneral.htm'"></div>
		<div id="exteriorData" style="display: none" ng-include="'/views/partials/editPartials/editExterior.htm'"></div>
		<div id="interiorData" style="display: none" ng-include="'/views/partials/editPartials/editInterior.htm'"></div>
		<div id="bellsData" style="display: none" ng-include="'/views/partials/editPartials/editBells.htm'"></div>
		<div id="linkedMediaData" style="display: none" ng-include="'/views/partials/editPartials/editLinkedMedia.htm'"></div>
	</form>
</div>

<script type="text/javascript" src="/scripts/edit.js"></script>
