<!-- The Modal -->
<div id="loginModal" class="ui small modal">
	<!-- <i class="close icon"></i> -->
	<div class="header">
		Login
	</div>
	<div class="content">
		<form class="ui form">
			<div class="field">
				<label>Email</label>
				<div class="ui left icon input">
					<i class="user icon"></i>
					<input id="email" type="text" placeholder="john@example.com">
				</div>
			</div>
			<div class="field">
				<label>Password</label>
				<div class="ui left icon input">
					<i class="lock icon"></i>
					<input id="password" type="password" placeholder="password123">
				</div>
			</div>
		</form>
		<div id="loginErrorContainer" style="display: none" class="ui error message">
		    <div class="header">Error:</div>
		    <p id="loginError"></p>
		</div>
	</div>
	<div class="actions">
		<div id="loginButton" class="ui positive button">
			Login
		</div>
	</div>
</div>