<!-- <div class="ui inverted menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
</div> -->

<!-- navbar -->
<div class="ui fixed inverted menu">
		<div class="ui pointing dropdown link item" href="#">
			<span class="text">VeBells</span>
			<i class="dropdown icon"></i>
			<div class="inverted menu">
		    	<a class="item" data-value="VeBells" href="#towers">Home</a>
		    	<a class="item" href="#analysis">Analysis</a>
		    	<a class="item" href="#instructions">Instructions</a>
		  	</div>
		</div>

		<a id="buttonToShowLogin" class="item right">
			<p id="sign-in-status">Log In</p>
		</a>
</div>

<script type="text/javascript">
	$('.ui.dropdown')
  		.dropdown()
	;
</script>