<!-- navbar -->
<div class="ui fixed inverted menu">
	<div class="ui container">
		<div class="item sidemenu">
			<i class="sidebar icon"></i>
		</div>
		<a class="header item" ng-click="bc.index()">
			VeBells 
		</a>
		<a id="buttonToShowLogin" class="item right">
			<p id="sign-in-status">a</p>
		</a>
	</div>
</div>

<div class="ui left demo vertical inverted sidebar labeled icon menu">
	<a class="item" href="#">
		<i class="home icon"></i>
		Home
	</a>
	<a href="#" class="item">
		<i class="add layout icon"></i>
		New Tower
	</a>		
</div>