<table class="ui celled fluid table" ng-repeat="(bell_id, bell) in bc.bells">
	<thead>
		<tr>
			<th>Bell: {{bell['name']}}</th>
			<th>Data</th>
		</tr>
	</thead>
	<tbody>
		<!-- <div ng-repeat="(key, value) in bc.bellTower_info"> -->
			<tr ng-repeat="(key, value) in bell">
				<td>{{key}}</td> 
				<td>{{value}}</td>
			</tr>
		<!-- </div> -->
	</tbody>
</table>

<table class="ui celled fluid table" ng-repeat="(landing_id, landing) in bc.landings">
	<thead>
		<tr>
			<th>landing: {{landing['name']}}</th>
			<th>Data</th>
		</tr>
	</thead>
	<tbody>
		<!-- <div ng-repeat="(key, value) in bc.bellTower_info"> -->
			<tr ng-repeat="(key, value) in landing">
				<td>{{key}}</td> 
				<td>{{value}}</td>
			</tr>
		<!-- </div> -->
	</tbody>
</table>

<table class="ui celled fluid table">
	<thead>
		<tr>
			<th>General Data Field</th>
			<th>Data</th>
		</tr>
	</thead>
	<tbody>
		<!-- <div ng-repeat="(key, value) in bc.bellTower_info"> -->
			<tr ng-repeat="(key, value) in bc.bellTower_info">
				<td>{{key}}</td> 
				<td>{{value}}</td>
			</tr>
		<!-- </div> -->
	</tbody>
</table>