<div class="ui items segment towerContainer" ng-repeat="(bell_id, bell) in bc.bells">
	<p>Bell ID: {{bell_id}}</p>
	</p>Bell: {{bell['name']}}</p>
	</p>Bell: {{bc.bells[bell_id]['name']}}</p>
</div>

<table class="ui celled fluid table">
	<thead>
		<tr>
			<th>General Data Field</th>
			<th>Data</th>
		</tr>
	</thead>
	<tbody>
		<!-- <div ng-repeat="(key, value) in bc.bellTower_info"> -->
			<tr ng-repeat="(key, value) in bc.bellTower_info">
				<td>{{key}}</td> 
				<td>{{value}}</td>
			</tr>
		<!-- </div> -->
	</tbody>
</table>


<!-- <input type="text" ng-model="bell['Common name']"/>
<br /><br />
Actual Name: <b>{{bell['Common name']}}</b>
<hr/>
<a ng-click="bc.bellList()">Back</a>
<div ng-repeat="(key, value) in bc.bellTower_info">
	<div ng-if="typeof(value) == 'object'">
		OBJECT:
		<div ng-repeat="(key1, value1) in value">
			{{key1}}: <input type="text" ng-model="value[key1]"/>
		</div>
	</div>
	<div ng-if="typeof(value) != 'object'">
		{{key}}: <input type="text" ng-model="bc.bellTower_info[key]"/>
	</div>
</div> -->