<div id="main" class="ui container text">

	<div class="ui header">
		<h1>{{bell['Common name']}}</h1>
	</div>

	<div class="ui grid stackable">
		<div class="four wide column">
			<img class="ui image" src="<%= tower.val().image %>">
			<div class="ui green fluid button" ng-click="bc.editTower(tower_id)">Edit</div>
			<div class="ui indicating progress" data-value="5" data-total="20" id="progress">
				<div class="bar"></div>
  				<div class="label">Complete</div>
			</div>		
		</div>

		<div class="ui twelve wide column">
			<div class="ui segment container">
				<p>{{bell['Notes']}}</p>
			</div>
			<div id="show" ng-include="'/views/partials/showTable.htm'"></div>
			<img id="panorama">
		</div>
	</div>
</div>

<script type="text/javascript" src="/scripts/show.js"></script>